$main-color: #ff4504
$color-grey: #727272





@font-face
  font-family: "SegoeUIRegular"
  src: url("../fonts/SegoeUIRegular.eot")
  src: url("../fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),url("../fonts/SegoeUIRegular.woff") format("woff"),url("../fonts/SegoeUIRegular.ttf") format("truetype")
  font-style: normal
  font-weight: normal



@font-face
  font-family: "FuturaPT-Bold"
  src: url("../fonts/FuturaPT-Bold.eot")
  src: url("../fonts/FuturaPT-Bold.eot?#iefix")format("embedded-opentype"),url("../fonts/FuturaPT-Bold.woff") format("woff"),url("../fonts/FuturaPT-Bold.ttf") format("truetype"), url('../fonts/FuturaPT-Bold.svg') format('svg'), url("../fonts/FuturaPT-Bold.otf") format("otf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "FuturaPT-Demi"
  src: url("../fonts/FuturaPT-Demi.eot")
  src: url("../fonts/FuturaPT-Demi.eot?#iefix")format("embedded-opentype"),url("../fonts/FuturaPT-Demi.woff") format("woff"),url("../fonts/FuturaPT-Demi.ttf") format("truetype"), url('../fonts/FuturaPT-Demi.svg') format('svg'), url("../fonts/FuturaPT-Demi.otf") format("otf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "FuturaPT-Heavy"
  src: url("../fonts/FuturaPT-Heavy.eot")
  src: url("../fonts/FuturaPT-Heavy.eot?#iefix")format("embedded-opentype"),url("../fonts/FuturaPT-Heavy.woff") format("woff"),url("../fonts/FuturaPT-Heavy.ttf") format("truetype"), url('../fonts/FuturaPT-Heavy.svg') format('svg'), url("../fonts/FuturaPT-Heavy.otf") format("otf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "FuturaPT-Light"
  src: url("../fonts/FuturaPT-Light.eot")
  src: url("../fonts/FuturaPT-Light.eot?#iefix")format("embedded-opentype"),url("../fonts/FuturaPT-Light.woff") format("woff"),url("../fonts/FuturaPT-Light.ttf") format("truetype"), url('../fonts/FuturaPT-Light.svg') format('svg'), url("../fonts/FuturaPT-Light.otf") format("otf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "FuturaPT-Medium"
  src: url("../fonts/FuturaPT-Medium.eot")
  src: url("../fonts/FuturaPT-Medium.eot?#iefix")format("embedded-opentype"),url("../fonts/FuturaPT-Medium.woff") format("woff"),url("../fonts/FuturaPT-Medium.ttf") format("truetype"), url('../fonts/FuturaPT-Medium.svg') format('svg'), url("../fonts/FuturaPT-Medium.otf") format("otf")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "FuturaBookC"
  src: url("../fonts/FuturaBookC.eot")
  src: url("../fonts/FuturaBookC.eot?#iefix")format("embedded-opentype"),url("../fonts/FuturaBookC.woff") format("woff"),url("../fonts/FuturaBookC.ttf") format("truetype"), url('../fonts/FuturaBookC.svg') format('svg'), url("../fonts/FuturaBookC.otf") format("otf")
  font-style: normal
  font-weight: normal


body
  font-family: "FuturaBookC", sans-serif
  padding: 0
  margin: 0
  line-height: 1em
  font-size: 16px
  p
    color: #545353
    line-height: 1.5em
    //font-weight: bold

.container
  min-height: 44vh


.img-holder
  overflow: hidden
  height: 100%

img
   max-width: 100%
.wrap
  width: 940px
  margin: auto


#cache, .pagination
  display: none
#preloader
  position: fixed
  left: 0
  top: 0
  z-index: 99999
  width: 100%
  height: 100%
  overflow: visible
  background: #fff url('../img/icons/logo-main.png') no-repeat center center
  background-size: 10%
  animation-fill-mode: both
.top
  background: #727272

  .phone
    margin-right: 70px
  .phone, .email
    display: inline-block
    vertical-align: middle
    padding: 10px 0
    span
      margin-right: 5px
    a
      margin-right: 18px
      transition: all 0.35s
      &:hover
        transition: all 0.35s
        color: $main-color
        text-decoration: none
      &:last-child
        margin-right: 0
    span,a
      color: #fff
      font-size: 18px
      line-height: 1em
      display: inline-block
      vertical-align: middle
  .user-login
    float: right
    a
      line-height: 38px
      color: #fff
      font-size: 18px
      width: 115px
      text-align: center
      transition: all 0.35s
      display: inline-block
      vertical-align: middle
      &.login
        background: $main-color
        border-radius: 2px
        box-shadow: inset  0px -2px 4px 2px rgba(0,0,0,0.16)
        &:hover
          color: #fff
          background: #fe622b
      &:hover
        transition: all 0.35s
        color: $main-color
        text-decoration: none

      span
        font-family: "FuturaPT-Medium", sans-serif



.header
  width: 940px
  padding: 20px 0 50px
  margin: auto
  .logo
    width: 250px
    margin: auto
    //margin-bottom: 40px
    display: inline-block
    vertical-align: middle
    margin-right: 120px

  .search
      display: inline-block
      vertical-align: middle
      width: 220px
      margin-right: 120px
      input[type="text"]
        border: 0
        border-bottom: 1px solid #000
        padding: 4px 0
        font-family: "FuturaPT-Medium", sans-serif
        line-height: 1em
        font-size: 18px
        color: #000
      .form-control
        display: inline-block
        vertical-align: middle
        &.error
          input[type="text"]
            border-color: red
      .submit
        display: inline-block
        vertical-align: middle
        width: 15px
        height: 15px
        background: url("../img/icons/search.png") no-repeat
        background-size: 100%
        position: relative
        margin-left: -20px
        cursor: pointer

  .cart
    display: inline-block
    vertical-align: middle
    a
      display: block
      padding-left: 40px
      position: relative
      color: #000
      font-family: "FuturaPT-Heavy", sans-serif
      line-height: 30px
      font-size: 18px
      transition: all 0.35s
      span
        color: $main-color
        font-size: 20px
        font-family: "FuturaPT-Medium", sans-serif
        line-height: 20px

      &:hover

          //color: $main-color
          transition: all 0.35s
          text-decoration: none
          &:after
            transition: all 0.35s
            opacity: 1
          &:before
            background: url("../img/icons/cart_hover.png") no-repeat
            background-size: 100%


      &:after
        border-radius: 2px
        background-color:  #ff4504
        width: 30px
        height: 30px
        content: ""
        position: absolute
        top: 0
        left: 0
        opacity: 0
        transition: all 0.35s
        z-index: 1
        
        
      &:before
        position: absolute
        top: 6px
        left: 4px
        background: url("../img/icons/cart.png") no-repeat
        background-size: 100%
        width: 22px
        height: 18px
        content: ""
        z-index: 2

  #menu
    margin-top: 40px
    li
      display: inline-block
      vertical-align: middle
      margin-right: 25px
      position: relative
      &.parent
        >a
          border-bottom: 2px solid #fff
        &:hover
          >a
            &:after
              content: ''
              position: absolute
              top: 21px
              left: 50%
              margin-left: -7px
              width: 0
              height: 0
              border-left: 7px solid transparent
              border-right: 7px solid transparent
              border-top: 8px solid #ff4504
            //border-color: #efe087

            //&:after
              position: absolute
              width: 13px
              height: 7px
              top: 19px
              left: 50%
              margin-left: -7px
              background: url("../img/icons/menu.png") no-repeat
              background-size: 100%
              content: ""




          ul.drop-menu
            display: block





      ul.drop-menu
        display: none
        position: absolute
        top: 15px
        left: 0
        padding-top: 20px
        z-index: 10

        li
          width: 190px
          a
            display: block
            background-color:  rgba(255, 69, 4, 0.7)
            width: 100%

            line-height: 1em
            font-size: 14px
            text-transform: uppercase
            color: #fff
            padding: 15px
            transition: all 0.35s
            font-family: "FuturaPT-Medium", sans-serif
            &:hover
              transition: all 0.35s
              background: #ff4504




      &.active
        a

          transition: all 0.35s
          color: $main-color
          text-decoration: none
      &:last-child
        margin-right: 0
      a
        text-transform: uppercase
        color: #000
        font-family: "FuturaPT-Medium", sans-serif
        letter-spacing: 2px
        font-size: 14px
        line-height: 1em
        transition: all 0.35s
        &:hover
          transition: all 0.35s
          color: $main-color
          text-decoration: none






.about
  padding: 60px 0 80px
  h3
    text-align: center
    font-size: 60px
    line-height: 1em
    margin-bottom: 80px
    font-weight: normal
    //font-family: "FuturaPT-Light", sans-serif
  .text_holder

      width: 500px
      display: inline-block
      vertical-align: top
      margin-right: 35px
      margin-top: -11px
      p
        line-height: 2em
        font-size: 18px

  .advantages_holder
    width: 400px
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    border: 10px solid $main-color
    padding: 25px
    li
      margin-bottom: 20px
      h4
        font-size: 24px
        margin-bottom: 15px
        //font-weight: normal
        font-family: "FuturaPT-Light", sans-serif
        span
          display: inline-block
          vertical-align: middle
          background: $main-color
          color: #fff
          font-size: 24px
          font-family: "FuturaPT-Medium", sans-serif
          line-height: 1em
          padding: 5px
          margin-right: 15px
          font-weight: normal

      p.text
        font-size: 18px
        line-height: 1.5em
        color:  #545454

      &:last-child
        margin-bottom: 0





#faq
  background: $main-color

  .wrap
    background: url("../img/bg/bg_faq.png") no-repeat left center
    padding: 40px 0 30px
  h3
    display: inline-block
    vertical-align: middle
    color: #fff
    font-family: "FuturaPT-Demi", sans-serif
    font-size: 60px
    line-height: 1em
    width: 400px
    letter-spacing: 1px
    margin-right: 75px
    font-weight: normal
  .block_text
    display: inline-block
    vertical-align: middle
    width: 460px
    color: #fff
    text-align: center
    h4
      font-size: 36px
      line-height: 1em
      margin-bottom: 20px
      font-family: "FuturaPT-Light", sans-serif
    p.text
      color: #fff
      text-align: left
      font-size: 20px
      line-height: 1.5em
      margin-bottom: 20px

    a
      line-height: 50px
      color: $main-color
      font-size: 16px
      width: 155px
      text-align: center
      transition: all 0.35s
      display: block
      margin: auto
      background: #fff
      border-radius: 6px
      box-shadow: inset  0px -2px 4px 2px rgba(0,0,0,0.16)
      font-family: "FuturaPT-Heavy", sans-serif
      text-transform: uppercase

      &:hover
        transition: all 0.35s
        background: #dadada
        //color: $main-color
        text-decoration: none




#block_info
  padding: 70px 0 90px
  h3
    text-align: center
    font-size: 60px
    line-height: 1em
    margin-bottom: 80px
    font-weight: normal
  .block_article
    width: 560px
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    border: 10px solid $main-color
    border-left: 0
    padding: 60px 10px 60px 0
    margin-right: 55px
    .item
      margin-bottom: 50px
      .img-holder
        width: 140px
        height: 115px
        overflow: hidden
        float: left
        margin-bottom: 20px
        margin-right:  20px
      &:last-child
        margin-bottom: 0

      h4
        font-size: 30px
        line-height: 1em
        font-family: "FuturaPT-Medium", sans-serif
        font-weight: normal
        margin-bottom: 15px

      .data
        font-size: 14px
        line-height: 1em
        margin-bottom: 20px
        color: #6f7070
      .text
        line-height: 1.5em
        color: #525252
        font-size: 18px
        margin-bottom: 15px
      .readmore
        color: #000
        font-family: "FuturaPT-Medium", sans-serif
        font-weight: normal
        font-size: 18px
        transition: all 0.35s
        padding-right: 15px
        position: relative
        display: inline-block
        &:after
          content: ""
          position: absolute
          top: 5px
          right: 0
          width: 6px
          height: 10px
          transition: all 0.35s
          background: url("../img/icons/readmore.png") no-repeat
          background-size: 100%


        &:hover
          transition: all 0.35s
          color: $main-color
          text-decoration: none
          &:after
            transition: all 0.35s
            background: url("../img/icons/readmore_hover.png") no-repeat
            background-size: 100%





  .block_order_info
    width: 320px
    display: inline-block
    vertical-align: top
    h4
      line-height: 60px
      color: #fff
      font-size: 36px
      width: 320px
      text-align: center
      display: block
      margin: auto
      background: $main-color
      border-radius: 6px
      box-shadow: inset  0px -2px 4px 2px rgba(0,0,0,0.16)
      font-weight: normal
      margin-bottom: 25px



    ul
      margin-bottom: 30px
      li
        position: relative
        padding-left: 80px
        line-height: 50px
        font-size: 18px
        color:  #353434
        margin-bottom: 8px

        &:last-child
          margin-bottom: 0
        &:after
          position: absolute
          content: ""
          width: 55px
          height: 50px
          background: $main-color
          top: 0
          left: 0
          z-index: 0
        .img-holder
          position: absolute
          top: 5px
          left: 0
          z-index: 1
          width: 55px
          height: 50px
          text-align: center

    .text
      p
        font-size: 18px
        line-height: 1.3em
        margin-bottom: 20px
        color: #000


.copyright_block
  background: $main-color
  padding: 20px 0
  .wrap

    .copyright_zhirrom
        float: left
        font-size: 20px
        line-height: 1em
        color: #000
        font-weight: bold
        span
          font-family: "FuturaPT-Bold", sans-serif
          font-weight: normal



    .copyright
        float: right
        a
          color: #fff
          //font-weight: bold
          line-height: 1em
          font-size: 20px
          transition: all 0.35s
          &:hover
            transition: all 0.35s
            text-decoration: none
            color: #000



.footer
  background: $color-grey
  padding: 25px 0 30px
  .wrap
    >div
      display: inline-block
      vertical-align: top
      color: #fff
      a
        color: #fff
        transition: all 0.35s
        &:hover
          transition: all 0.35s
          color: #ff8604
          text-decoration: none
      h4

        font-weight: normal
        font-size: 24px
        line-height: 1em
        margin-bottom: 20px
        color: #fff

    .logo
      width: 187px
      height: 139px
      margin-right: 135px

    .contact
      margin-right: 135px
      color: #fff
      >div
        font-size: 20px
        line-height: 1em
        margin-bottom: 20px
        a
          font-size: 20px
          line-height: 1em
    .user_block
      a, span
        font-size: 20px
        line-height: 1em
        display: inline-block
        vertical-align: middle
        margin-bottom: 20px
      .social


          a
            width: 22px
            height: 22px
            display: inline-block
            vertical-align: middle
            border-radius: 22px
            background: #fff
            color: $color-grey
            text-align: center
            margin-right: 30px
            font-size: 16px
            box-sizing: border-box
            padding-top: 3px
            &:hover
              background: #ff8604
            &:last-child
              margin-right: 0








#slider
  .slider
    height: 465px
    .item
      height: 465px
      .wrap
        position: relative
      .block_text
        width: 700px
        margin: auto
        padding-top: 150px
        &.left_text
          width: 450px
          right: 0
          position: absolute
          padding: 0
          top: 150px

          h3
            font-size: 60px
            color: #000
            span
              display: inline-block
              vertical-align: top
              margin-left: 5px
              color: $main-color
              font-size: 60px
          a
            background: $main-color
            width: 155px
            height: 50px
            &:hover
              background: #fe622b


        h3
          font-family: "FuturaPT-Medium", sans-serif
          color:  #ffffff
          font-size: 55px
          font-weight: normal
          line-height: 1.2em
          text-align: center
          margin-bottom: 40px
        a
          line-height: 50px
          color: #fff
          font-size: 16px
          width: 215px
          text-align: center
          transition: all 0.35s
          display: block
          margin: auto
          background: #e5cb37
          border-radius: 6px
          box-shadow: inset  0px -2px 4px 2px rgba(0,0,0,0.16)
          text-transform: uppercase
          font-family: "FuturaPT-Heavy", sans-serif
          letter-spacing: 1px

          &:hover
            transition: all 0.35s
            background: $main-color
            text-decoration: none


  .bx-wrapper
      height: 465px!important
      .bx-pager.bx-default-pager
        position: absolute
        bottom: 20px
        left: 130px
        padding: 0
        width: auto


        a
          text-indent: 0
          width: auto
          height: auto
          border-radius: 0
          background: none!important
          display: none
          pointer-events: none
          font-family: "SegoeUIRegular", sans-serif
          color: rgba(255, 255, 255, 0.3)
          font-size: 99.97px
          font-weight: 400
          line-height: 36px
          &.active
            display: block


      .bx-controls-direction
        position: relative
        bottom: 20px
        left: 280px
        width: 62px
        a
          border: 2px solid #fff
          box-sizing: border-box
          background: none
          //position: relative
          z-index: 3
          text-indent: 0
          top: inherit
          bottom: 0
          margin: 0
          transition: all 0.35s


          &:hover
            transition: all 0.35s
            background: #fff
            &:after
              background: url("../img/icons/slider-nav_hover.png") no-repeat 50% 50%
              background-size: 100%
          &:after
            width: 10px
            height: 18px
            background: url("../img/icons/slider-nav.png") no-repeat 50% 50%
            background-size: 100%
            content: ""
            position: absolute
            top: 5px
            left: 7px
          &.bx-next
            transform: rotate(180deg)




.gsc-search-box-tools
  .gsc-search-box
    .gsc-input
      background: none!important
.gcsc-branding
  display: none




#registration,#contact_form
  background-color:  #ffffff
  width: 620px
  height: 530px
  position: fixed
  top: 50%
  left: 50%
  margin-top: -265px
  margin-left: -310px
  display: none
  opacity: 0
  z-index: 5
  padding: 60px
  text-align: center
  box-sizing: border-box


  .modal_close
    position: absolute
    width: 16px
    height: 16px
    background: url("../img/icons/close.png") no-repeat
    background-size: 100%
    top: 15px
    right: 20px
    cursor: pointer
    transition: all 0.35s
    &:hover
      background: url("../img/icons/close_hover.png") no-repeat
      background-size: 100%
      transition: all 0.35s



  h3
    text-transform: uppercase
    margin-bottom: 40px
    font-size: 24px
    line-height: 1em
    font-family: "FuturaPT-Demi", sans-serif
    font-weight: normal



  .form-holder


    .row-group
      .file
        width: 240px
        height: 45px
        background: url("../img/icons/file.png") no-repeat
        overflow: hidden
        transition: all 0.35s
        &:hover
          background: url("../img/icons/file_hover.png") no-repeat
          transition: all 0.35s
      >div
        display: inline-block
        vertical-align: top
        &:first-child
          margin-right: 15px
    .assortment
      width: 100%
      input[type="text"]
        width: 100%

    input[type="file"]
      width: 240px!important
      height: 45px!important
      opacity: 0!important
      overflow: hidden !important
      cursor: pointer
    input[type="text"],
    input[type="email"]
      text-align: left

      height: 45px
      padding: 0 10px
      box-sizing: border-box
      margin-bottom: 20px
      border: 1px solid #bab9b9
      color: #686767
      border-radius: 2px
      font-size: 18px
      line-height: 45px
      background: #fff
      font-family: "FuturaPT-Medium", sans-serif
      width: 240px

    textarea
      border-radius: 2px
      border: 1px solid #bab9b9
      width: 100%
      box-sizing: border-box
      height: 135px
      background: none
      padding: 10px
      color:  #818181
      font-size: 18px
      line-height: 1.3em
      font-family: "FuturaPT-Medium", sans-serif
      //margin-bottom: 30px

    .error
        input[type="text"],
        input[type="email"],
        textarea
          border-color: #FF0000

    .btn

      line-height: 50px
      color: #fff
      font-size: 16px
      width: 155px
      text-align: center
      transition: all 0.35s
      display: block
      margin: 30px auto 0
      background: $main-color
      border-radius: 6px
      box-shadow: inset  0px -2px 4px 2px rgba(0,0,0,0.16)
      text-transform: uppercase
      font-family: "FuturaPT-Heavy", sans-serif
      letter-spacing: 1px
      cursor: pointer

      &:hover
        transition: all 0.35s
        background: #fe622b
        text-decoration: none



#contact_form
  height: 450px
  margin-top: -225px

#login, #call_back
  background-color:  #fff
  width: 340px
  height: 330px
  position: fixed
  top: 50%
  left: 50%
  margin-top: -165px
  margin-left: -170px
  display: none
  opacity: 0
  z-index: 5
  padding: 45px
  text-align: center
  box-sizing: border-box


  .modal_close
    position: absolute
    width: 16px
    height: 16px
    background: url("../img/icons/close.png") no-repeat
    background-size: 100%
    top: 15px
    right: 20px
    cursor: pointer
    transition: all 0.35s
    &:hover
      background: url("../img/icons/close_hover.png") no-repeat
      background-size: 100%
      transition: all 0.35s



  h3
    text-transform: uppercase
    margin-bottom: 30px
    font-size: 20px
    line-height: 1em
    font-family: "FuturaPT-Demi", sans-serif
    font-weight: normal
    color: #000



  .form-holder



    input[type="text"],
    input[type="email"]
      text-align: left
      width: 100%
      height: 45px
      padding: 0 10px
      box-sizing: border-box
      margin-bottom: 20px
      font-size: 18px
      line-height: 45px
      background: #fff
      font-family: "FuturaPT-Medium", sans-serif
      border: 1px solid #bab9b9
      color: #686767
      border-radius: 2px


    .error
      input[type="text"],
      input[type="email"]
        border-color: #FF0000

    .btn

      line-height: 50px
      color: #fff
      font-size: 16px
      width: 155px
      text-align: center
      transition: all 0.35s
      display: block
      margin: auto
      background: $main-color
      border-radius: 6px
      box-shadow: inset  0px -2px 4px 2px rgba(0,0,0,0.16)
      text-transform: uppercase
      font-family: "FuturaPT-Heavy", sans-serif
      letter-spacing: 1px
      cursor: pointer

      &:hover
        transition: all 0.35s
        background: #fe622b
        text-decoration: none



#overlay
  z-index: 3
  position: fixed
  background-color: #000
  opacity: 0.85
  width: 100%
  height: 100%
  top: 0
  left: 0
  cursor: pointer
  display: none





.list_category
  border: 10px solid $main-color
  padding: 50px 50px 60px
  margin-bottom: 80px
  text-align: center
  h1
    text-align: center
    font-weight: normal
    margin-bottom: 80px
    font-size: 60px
    line-height: 1em
    //font-family: "FuturaPT-Light", sans-serif
  .item-category
    width: 49%
    display: inline-block
    vertical-align: top
    text-align: left
    margin-bottom: 65px
    position: relative
    a
      &:hover
        text-decoration: none
        .img-holder
          &:after
            background:  rgba(255, 69, 4, 0.45)

            transition: all 0.35s

        .number
          text-decoration: none
        h3
          transition: all 0.35s
          //color: $main-color
          text-decoration: none

        .readmore
          transition: all 0.35s
          color: $main-color
          text-decoration: none
          &:after
            transition: all 0.35s
            background: url("../img/icons/readmore_hover.png") no-repeat
            background-size: 100%


    &:last-child
      margin-bottom: 0
    &.category1
      h3
        position: relative
        left: -135px



      .readmore
        left: 260px
        top: 115px
        position: absolute



    &.category2
      margin-top: 30px
      .img-holder
        float: right
        margin-right: 0
        margin-left: 25px
      .number
        margin-top: 140px
        text-align: right
      .readmore
        position: absolute
        bottom: 5px
        left: 0
    &.category3
      .number
        margin-top: 125px
      h3
        left: -60px
      .readmore
        position: absolute
        bottom: 20px
        left: 260px




    .img-holder
      margin-right: 25px
      width: 240px
      height: 270px
      float: left
      overflow: hidden
      position: relative
      &:after
        background:  rgba(255, 69, 4, 0)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        content: ""
        transition: all 0.35s
    .number
      //margin-bottom: 10px
      color: $main-color
      line-height: 1em
      font-family: "FuturaPT-Heavy", sans-serif
      font-size: 48px
      overflow: hidden

    h3
      font-weight: normal
      font-size: 48px
      line-height: 1em
      margin-bottom: 15px
      color: #000
      white-space: nowrap
      position: relative
      transition: all 0.35s

    .readmore
      font-size: 20px
      line-height: 1em
      color: #000
      position: relative
      transition: all 0.35s
      padding-right: 10px
      display: inline-block
      vertical-align: top
      font-family: "FuturaPT-Medium", sans-serif
      overflow: hidden
      white-space: nowrap
      letter-spacing: -1px



      &:after
        content: ""
        position: absolute
        top: 7px
        right: 0
        width: 6px
        height: 10px
        transition: all 0.35s
        background: url("../img/icons/readmore.png") no-repeat
        background-size: 100%




.bread
  padding: 20px 0
  li
    display: inline-block
    vertical-align: middle
    margin-right: 15px
    padding-right: 10px
    position: relative
    &:last-child
      padding: 0
      margin: 0
      &:after
        width: 0
        height: 0
    &:after 
      position: absolute
      top: 50%
      right: 0
      width: 4px 
      height: 8px 
      background: url("../img/icons/bread.png") no-repeat
      content: ""
      margin-top: -4px
      
      
    span
      color: #797878
      font-size: 18px
      line-height: 1em
      font-family: "FuturaBookC", sans-serif
    a
      color: #797878
      font-size: 18px
      line-height: 1em
      font-family: "FuturaBookC", sans-serif
      transition: all 0.35s

      &:hover
        transition: all 0.35s
        color: $main-color
        text-decoration: none



.list_product, .productfull, .blog, .article, .search
    header
      border-bottom: 5px solid $main-color



.list_products
  padding-top: 20px
  h1
    text-align: center
    font-family: "FuturaBookC", sans-serif
    font-weight: normal
    font-size: 60px
    line-height: 1em
    margin-bottom: 20px
  .description
    width: 760px
    margin: auto
    text-align: center
    font-size: 18px
    line-height: 1.5em
    color: #636363
    margin-bottom: 50px
  .filter
    border: 1px solid #f0f0f0
    background-color:  #f5f4f4
    width: 100%
    padding: 20px
    margin-bottom: 30px
    box-sizing: border-box
    >div
      display: inline-block
      vertical-align: middle
      span
        display: inline-block
        vertical-align: middle
        font-size: 20px
        color: #000
        font-family: "FuturaBookC", sans-serif
        margin-right: 10px
      &.preview
        margin-right: 65px
        ul
          display: inline-block
          vertical-align: middle
          li
            display: inline-block
            vertical-align: middle
            width: 25px
            height: 23px
            cursor: pointer
            transition: all 0.35s
            &.active
              &.preview_block
                background: url("../img/icons/preview_block_hover.png") no-repeat
                background-size: 100%
              &.preview_list
                background: url("../img/icons/preview_list_hover.png") no-repeat
                background-size: 100%


            &:hover
              transition: all 0.35s
            &.preview_block
              background: url("../img/icons/preview_block.png") no-repeat
              background-size: 100%

              &:hover
                background: url("../img/icons/preview_block_hover.png") no-repeat
                background-size: 100%
            &.preview_list
              background: url("../img/icons/preview_list.png") no-repeat
              background-size: 100%
              width: 30px
              margin-right: 10px
              &:hover
                background: url("../img/icons/preview_list_hover.png") no-repeat
                background-size: 100%
      &.sort_by
        margin-right: 65px
        position: relative
        &:last-child
          margin-right: 0
        >div
          display: inline-block
          vertical-align: middle
          position: relative
          ul
            display: none
            position: absolute
            top: 33px
            left: 0
            width: 100%
            z-index: 2
            
            border-bottom: 0
            border-top: 0
            background:  #e8e7e7
            box-sizing: border-box

            li
              font-size: 18px
              font-family: "FuturaBookC", sans-serif
              line-height: 1em
              cursor: pointer
              color: #000
              padding: 7px 30px 7px 12px
              transition: all 0.35s
              border-left: 1px solid #e0dddd
              border-right: 1px solid #e0dddd
              &:last-child
                border-bottom: 1px solid #e0dddd
              &:hover
                background: $main-color
                transition: all 0.35s
                color: #fff
                border-color: $main-color

              &.active
                display: none
          .active_sort
            border: 1px solid #e0dddd
            background:  #e8e7e7
            width: 220px
            font-size: 18px
            font-family: "FuturaBookC", sans-serif
            line-height: 1em
            padding: 7px 30px 7px 12px
            color: #000
            box-sizing: border-box
            position: relative
            cursor: pointer
            &:after
              position: absolute
              top: 50%
              right: 10px
              width: 13px
              height: 9px
              margin-top: -5px
              background: url("../img/icons/select.png") no-repeat
              content: ""

        &.items_page
          .active_sort
            width: 75px


  .filter_products
    float: left
    width: 160px

  .products
    float: right
    width: 720px
    margin: 0 -15px 100px
    transition: opacity 0.35s ease-in-out


    .block_product
      width: 220px
      display: inline-block
      vertical-align: top
      overflow: hidden
      margin: 0 8px
      box-sizing: border-box
      margin-bottom: 70px
      transition: all 0.35s
      a
        .img_holder
          width: 220px
          height: 220px
          overflow: hidden
          margin-bottom: 20px
          position: relative
          img
            width: 100%
          &:after
            background: rgba(255, 69, 4, 0)
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            content: ""
            transition: all 0.35s
        .name
          font-size: 20px
          line-height: 1em
          color:  #373737
          font-family: "FuturaBookC", sans-serif
          text-align: center
          overflow: hidden
          height: 20px
          text-overflow: ellipsis




        .description_product
          color:  #6a6a6a
          font-size: 16px
          line-height: 1.5em
          height: 45px
          overflow: hidden
          margin-bottom: 15px

        .block_price
          text-align: center


          .price
            display: inline-block
            vertical-align: middle
            font-size: 24px
            line-height: 1em
            color:  #3e3d3d
            text-transform: uppercase
            span
              font-size: 18px
              display: inline-block
              vertical-align: middle
              margin-left: 5px
              line-height: 1em
          .cart
            position: relative
            display: inline-block
            vertical-align: middle
            margin-right: 5px
            border-radius: 2px
            background: rgba(255, 69, 4, 0)
            width: 30px
            height: 30px
            transition: all 0.35s
            &:before
              background: url("../img/icons/cart.png") no-repeat
              background-size: 100%
              width: 22px
              height: 18px
              content: ""
              position: absolute
              top: 6px
              left: 4px
              z-index: 2
              transition: all 0.35s



        &:hover
          text-decoration: none
          .img_holder
            &:after
              background: rgba(255, 69, 4, 0.45)
              transition: all 0.35s

          .name
            color: $main-color
            transition: all 0.35s
          .block_price
            .cart
              transition: all 0.35s
              background: $main-color
              &:before
                background: url("../img/icons/cart_hover.png") no-repeat
                background-size: 100%
                transition: all 0.35s

    .block_text
        overflow: hidden

    &.preview_block
      margin: auto
      margin-bottom: 140px
      transition: opacity 0.35s ease-in-out
      .ias-trigger
        margin-top: 40px
      .block_product
        width: 100%
        transition: all 0.35s
        margin: auto
        margin-bottom: 30px
        .img_holder
          float: left
          margin-right: 20px
          width: 240px
          height: 240px
          margin-bottom: 0


        .name
          text-align: left
          font-size: 24px
          margin-bottom: 20px
          padding-bottom: 10px
          border-bottom: 2px solid #eeeded

        .block_price
          text-align: left



        .description_product
          font-size: 18px
          height: auto




.ias-trigger

    a
      display: block
      margin: auto
      width: 185px
      line-height: 1em
      text-transform: uppercase
      color: #fff
      background: $main-color
      border-radius: 6px
      font-size: 16px
      text-align: center
      padding: 17px 0
      box-shadow: inset 0px -2px 4px 2px rgba(0, 0, 0, 0.16)
      cursor: pointer
      transition: all 0.35s
      font-family: "FuturaPT-Heavy", sans-serif
      letter-spacing: 1px
      &:hover
        text-decoration: none
        transition: all 0.35s
        background: #fe622b


.filter_products
  [id^="attribute"]
    margin-bottom: 15px
    padding-bottom: 15px
    border-bottom: 2px solid #e8e7e7
    &:last-child
      border-bottom: 0
      margin-bottom: 0
      padding-bottom: 0
    h3
      color: #000
      font-size: 24px
      line-height: 1em
      margin-bottom: 20px
      font-weight: normal

    .attribute_holder
      max-height: 255px
      overflow: auto
      &::-webkit-scrollbar-track
        //-webkit-box-shadow: inset 0 0 6px #ff4504
        background-color: #e8e7e7
      &::-webkit-scrollbar
        width: 9px
        background-color: #e8e7e7
      &::-webkit-scrollbar-thumb
        background-color: #ff4504
        border: 2px solid #e8e7e7


      input[type="checkbox"]
        display: none
        &:checked
          + label
            &:after
              background-position: top left
      label
          display: block
          padding-left: 40px
          margin-bottom: 7px
          line-height: 22px
          font-size: 20px
          color: #000
          position: relative
          cursor: pointer
          &:after
            background: url("../img/icons/filter.png") no-repeat
            background-position: bottom left
            position: absolute
            top: 0
            left: 0
            width: 22px
            height: 22px
            content: ""



.productfull

  .related_products
    padding-bottom: 50px
    h3
      background: $main-color
      color: #fff
      font-size: 60px
      line-height: 1em
      padding: 40px 0
      font-weight: normal
      text-align: center
      font-family: "FuturaPT-Light", sans-serif
      margin-bottom: 80px

    .products
      margin: 0 -10px
    .block_product
      width: 220px
      display: inline-block
      vertical-align: top
      overflow: hidden
      margin: 0 8px
      box-sizing: border-box
      margin-bottom: 70px
      transition: all 0.35s
      a
        .img_holder
          width: 220px
          height: 220px
          overflow: hidden
          margin-bottom: 20px
          position: relative
          img
            width: 100%
          &:after
            background: rgba(255, 69, 4, 0)
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            content: ""
            transition: all 0.35s
        .name
          font-size: 20px
          line-height: 1em
          color:  #373737
          font-family: "FuturaBookC", sans-serif
          text-align: center
          overflow: hidden
          height: 20px
          text-overflow: ellipsis




        .description_product
          color:  #6a6a6a
          font-size: 16px
          line-height: 1.5em
          height: 45px
          overflow: hidden
          margin-bottom: 15px

        .block_price
          text-align: center


          .price
            display: inline-block
            vertical-align: middle
            font-size: 24px
            line-height: 1em
            color:  #3e3d3d
            text-transform: uppercase
            span
              font-size: 18px
              display: inline-block
              vertical-align: middle
              margin-left: 5px
              line-height: 1em
          .cart
            position: relative
            display: inline-block
            vertical-align: middle
            margin-right: 5px
            border-radius: 2px
            background: rgba(255, 69, 4, 0)
            width: 30px
            height: 30px
            transition: all 0.35s
            &:before
              background: url("../img/icons/cart.png") no-repeat
              background-size: 100%
              width: 22px
              height: 18px
              content: ""
              position: absolute
              top: 6px
              left: 4px
              z-index: 2
              transition: all 0.35s

        &:hover
          text-decoration: none
          .img_holder
            &:after
              background: rgba(255, 69, 4, 0.45)
              transition: all 0.35s

          .name
            color: $main-color
            transition: all 0.35s
          .block_price
            .cart
              transition: all 0.35s
              background: $main-color
              &:before
                background: url("../img/icons/cart_hover.png") no-repeat
                background-size: 100%
                transition: all 0.35s


  .feedback
    background: url("../img/bg/bg_review.jpg") no-repeat top center
    background-size: cover
    position: relative
    padding: 50px 0 110px
    &:after
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(255, 255, 255, 0.9)
      content: ""
      z-index: 1
    .wrap
      position: relative
      z-index: 2
      h3
        text-align: center
        margin-bottom: 60px
        color: #000
        font-size: 60px
        line-height: 1em
        font-family: "FuturaPT-Light", sans-serif
        font-weight: normal
      form
        h4
          color: $main-color
          margin-bottom: 30px
          font-size: 36px
          line-height: 1em
          font-family: "FuturaPT-Light", sans-serif
          font-weight: normal
        .error
          textarea
            border-color: red
        textarea
            border-radius: 2px
            border: 2px solid #c8c7c7
            width: 100%
            box-sizing: border-box
            height: 135px
            background: none
            padding: 20px
            color:  #818181
            font-size: 20px
            line-height: 1.3em
            font-family: "FuturaBookC", sans-serif
            letter-spacing: 1px
            margin-bottom: 30px
        .submit

          line-height: 50px
          color: #fff
          font-size: 16px
          width: 185px
          text-align: center
          transition: all 0.35s
          display: block
          margin:  auto
          background: $main-color
          border-radius: 6px
          box-shadow: inset  0px -2px 4px 2px rgba(0,0,0,0.16)
          text-transform: uppercase
          font-family: "FuturaPT-Heavy", sans-serif
          letter-spacing: 1px
          cursor: pointer

          &:hover
            transition: all 0.35s
            background: #fe622b
            text-decoration: none

  .feedback_list

    //margin: 0 -20px 60px
    .block_feedback
      display: inline-block
      vertical-align: top
      width: 49%
      padding: 0 10px
      box-sizing: border-box
      margin-bottom: 60px
      &:nth-child(2n+1)
        padding-left: 0
      &:nth-child(2n)
        padding-right: 0
      .text_holder
        font-family: "FuturaBookC", sans-serif
        color:  #3e3d3d
        font-size: 18px
        font-weight: normal
        line-height: 1.5em
        text-align: left
      .block_personal
        margin-bottom: 20px
        .img_hoder
          width: 90px
          height: 90px
          float: left
          border-radius: 90px
          overflow: hidden
          margin-right: 15px
        .block_name
          margin-top: 40px
          .name
            color: #000
            font-size: 24px
            line-height: 1em
            margin-bottom: 10px
          .data
            color: $main-color
            line-height: 1em
            font-size: 16px



  .product_info
    margin-bottom: 60px
    .image
      width: 460px
      display: inline-block
      vertical-align: top
      margin-right: 75px
      position: relative
      min-height: 650px
      height: 100%
      .slider_filter_color
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
        opacity: 0
        &.active
          z-index: 2
          opacity: 1


      .bx-wrapper
          margin-bottom: 30px
          .bx-controls-direction
            display: none
            a
              width: 20px
              height: 34px
              background: url("../img/icons/slider-nav_hover.png") no-repeat
              background-size: 100%
              margin-top: -10px
              text-indent: 0
              &.bx-next
                transform: rotate(180deg)
                right: 10px
              &.bx-prev
                left: 10px
      [id^="slider_product"]
        overflow: hidden

        >div
          width: 460px!important
          height: 460px
          //margin-bottom: 30px
          box-sizing: border-box
          border: 5px solid #f3f3f3
          img
            width: 100%
            height: 100%

      [id^="bx-pager"]
        margin: 0 -10px
        a
          display: inline-block
          vertical-align: top
          width: 140px
          height: 140px
          box-sizing: border-box
          border: 5px solid #f3f3f3
          margin: 0 10px 20px
          &.active
            border-color: $main-color

    .block_info
      width: 400px
      display: inline-block
      vertical-align: top
      .code_product
        color:  #5c5c5c
        font-size: 16px
        line-height: 1em
        margin-bottom: 15px
      .name_product
        color:  #000000
        font-size: 36px
        line-height: 1em
        padding-bottom: 20px
        margin-bottom: 10px
        border-bottom: 1px solid #dfdede
        //font-family: "FuturaPT-Light", sans-serif
      .block_price
        margin-bottom: 25px
        .name_price
          margin-bottom: 10px
          line-height: 1em
          color:  #535353
          font-size: 16px
        .price
          margin-bottom: 15px
          line-height: 1em
          font-size: 36px
          color: #000
          //font-family: "FuturaPT-Light", sans-serif
        .description_price
          color:  #5c5c5c
          font-size: 16px
          line-height: 1.5em


      .submit
        width: 145px
        line-height: 40px
        text-align: center
        text-transform: uppercase
        color: $main-color
        box-sizing: border-box
        border: 2px solid $main-color
        border-radius: 4px
        cursor: pointer
        font-size: 14px
        font-family: "FuturaPT-Demi", sans-serif
        font-weight: normal
        letter-spacing: 1px
        transition: all 0.35s
        margin-bottom: 30px
        &:hover
          transition: all 0.35s
          background: $main-color
          color: #fff
      .description_product
        color: #000
        font-size: 16px
        line-height: 2em
        span
          font-family: "FuturaPT-Medium", sans-serif
          margin-right: 5px
      .block_characteristics
        margin-bottom: 10px
        >div
          margin-bottom: 15px
          position: relative
          .name,.value
            display: inline-block
            vertical-align: middle
            font-size: 16px
            line-height: 1em
            position: relative
          .name
              font-family: "FuturaPT-Medium", sans-serif
              margin-right: 5px


        .active_size
          font-size: 16px
          color: #343434
          position: relative
          border: 1px solid #d2d2d2
          line-height: 30px
          padding: 0 25px 0 10px
          cursor: pointer
          &:after
            position: absolute
            top: 50%
            right: 5px
            width: 13px
            height: 9px
            margin-top: -5px
            background: url("../img/icons/select.png") no-repeat
            content: ""

        .select_size
            display: none
            position: absolute
            top: 32px
            left: 0
            width: 100%
            z-index: 2
            background: #fff


            li
              font-size: 16px
              //font-family: "FuturaBookC", sans-serif
              line-height: 1em
              cursor: pointer
              color: #000
              padding: 6px 10px
              transition: all 0.35s
              border: 1px solid #d2d2d2
              border-top: 0
              box-sizing: border-box

              &:hover
                background: $main-color
                transition: all 0.35s
                color: #fff
                border-color: $main-color

              &.active
                display: none






        .active_color
          font-size: 16px
          color: #343434
          position: relative
          border: 1px solid #d2d2d2
          line-height: 30px
          padding: 0 25px 0 10px
          cursor: pointer
          min-width: 150px
          box-sizing: border-box
          &:after
            position: absolute
            top: 50%
            right: 5px
            width: 13px
            height: 9px
            margin-top: -5px
            background: url("../img/icons/select.png") no-repeat
            content: ""
        .select_color
          display: none
          position: absolute
          top: 32px
          left: 0
          width: 100%
          z-index: 3
          background: #fff


          li
            font-size: 16px
            line-height: 1em
            cursor: pointer
            color: #000
            padding: 6px 10px
            transition: all 0.35s
            border-left: 1px solid #d2d2d2
            border-right: 1px solid #d2d2d2
            box-sizing: border-box
            border-bottom: 1px solid #d2d2d2
            text-align: center
            position: relative

            &:after
                width: 100%
                height: 100%
                background: rgba(0, 0, 0, 0.4)
                transition: all 0.34s
                position: absolute
                top: 0
                left: 0
                content: ""
                opacity: 0
            .img_hoder
              width: 75px
              height: 75px
              margin: 0 auto 10px
            .name_color
              color:  #3d3d3d
              transition: all 0.35s
              position: relative
              z-index: 3
              font-size: 18px
              line-height: 1em


            &:hover
              //background: rgba(0, 0, 0, 0.4)
              transition: all 0.35s
              color: #fff
              border-color: #989898
              .name_color
                color:  #fff
                transition: all 0.35s
              &:after
                opacity: 1
                transition: all 0.35s


            &.active
              display: none



.zoomContainer
  z-index: 11


.search
  h1
    text-align: center
    font-family: "FuturaPT-Light", sans-serif
    font-weight: normal
    font-size: 60px
    line-height: 1em
    margin-bottom: 70px
  .gsst_a
    padding-top: 6px
    .gscb_a
      color: $color-grey
      &:hover
        color: $main-color




.blog
  h1
    text-align: center
    font-family: "FuturaPT-Light", sans-serif
    font-weight: normal
    font-size: 60px
    line-height: 1em
    margin-bottom: 70px

  .list_items
    margin-bottom: 120px
    .ias-trigger
      margin-top: 90px
    .item
      margin-bottom: 70px
      padding-top: 20px
      box-sizing: border-box

      &:nth-child(2n+1)
        padding-left: 20px
        .img_block
          float: left
          margin-right: 60px
          position: relative
          &:after
              position: absolute
              content: ""
              top: -20px
              left: -20px
              width: 100%
              height: 100%
              box-sizing: border-box
              border: 5px solid $main-color
              z-index: 1

        .block_text
          text-align: left
      &:nth-child(2n)
        padding-right: 20px
        .img_block
          float: right
          margin-left: 60px
          position: relative
          &:after
            position: absolute
            content: ""
            top: -20px
            right: -20px
            width: 100%
            height: 100%
            box-sizing: border-box
            border: 5px solid $main-color
            z-index: 1

        .block_text
          text-align: right
      .img-holder
        position: relative
        width: 380px
        height: 380px
        img
          position: relative
          z-index: 2

      .block_text
        overflow: hidden
        margin-top: 20px
        .id_article
          font-family: "FuturaBookC", sans-serif
          color:  #c1c0c0
          font-size: 72px
          font-weight: normal
          line-height: 1em
          margin-bottom: 30px
        .name
          margin-bottom: 30px
          a
            font-size: 36px
            color: #000
            line-height: 1em
            overflow: hidden
            text-overflow: ellipsis
            height: 36px
            transition: all 0.35s
            display: block
            white-space: nowrap
            &:hover
              transition: all 0.35s
              color: $main-color
              text-decoration: none

        .short_description
          color:  #3c3b3b
          font-size: 18px
          line-height: 2em
          overflow: hidden
          height: 108px
          margin-bottom: 20px
        .readmore

          color:  #000000
          font-size: 18px
          line-height: 1em
          transition: all 0.35s
          position: relative
          padding-right: 15px
          display: inline-block
          vertical-align: middle
          &:after
            content: ""
            position: absolute
            top: 4px
            right: 0
            width: 6px
            height: 10px
            transition: all 0.35s
            background: url("../img/icons/readmore.png") no-repeat
            background-size: 100%
          &:hover
            transition: all 0.35s
            color: $main-color
            text-decoration: none
            &:after
              transition: all 0.35s
              background: url("../img/icons/readmore_hover.png") no-repeat
              background-size: 100%



.article

  .container
    background: #fcf3f0
    padding-bottom: 100px
  h1
    text-align: center
    font-family: "FuturaPT-Light", sans-serif
    font-weight: normal
    font-size: 60px
    line-height: 1em
    margin-bottom: 70px

  .img_block
      float: left
      margin-right: 60px
      position: relative


      img
        position: relative
        z-index: 2
      &:after
        position: absolute
        content: ""
        top: -20px
        left: -20px
        width: 100%
        height: 100%
        box-sizing: border-box
        border: 5px solid $main-color
        z-index: 1


  .block_text
    overflow: hidden
    p

      color:  #3c3b3b
      font-size: 18px
      line-height: 2em
      margin-bottom: 50px
    ul, ol
      margin-bottom: 50px
      //display: list-item

      li
        line-height: 2em
        font-size: 18px
        color:  #3c3b3b
        display: list-item
        margin-left: 30px

    ul
      li
        list-style-type: disc


    ol
      li
        list-style-type: decimal

    .block_share_social
      .title_share_social
        display: inline-block
        vertical-align: middle
        color:  #3c3b3b
        font-size: 18px
        line-height: 1em
        margin-right: 10px
      .ya-share2
        display: inline-block
        vertical-align: middle
        ul
          margin-bottom: 0
          li
            padding: 0
            margin-right: 10px
            line-height: 1em
            list-style-type: none
            display: inline-block
            vertical-align: middle
            margin-left: 0
            a
              &:hover
                text-decoration: none
                .ya-share2__title
                  color: #fe622b
                  transition: all 0.35s
            .ya-share2__badge
              display: none
            .ya-share2__title
              display: block
              font-family: "FuturaPT-Bold", sans-serif
              font-size: 18px
              line-height: 1em
              color: $main-color
              transition: all 0.35s