doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.error404



            .container
                .wrap
                    .logo
                        a(href="index.html")
                            img(src="img/icons/logo.png")
                    .error404_text 404
                    .error_text Страница не найдена
                    a.submit(href="index.html") На главную





