doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.error404



            .container
                .wrap
                    .logo
                        a(href="index.html")
                            img(src="img/icons/logo.png" alt="404 error")
                    .error404_text К сожалению, данный товар отсутствует на складе. У нас много других товаров в наличии.
                    .error_text Страница не найдена
                    a.submit(href="index.html") На главную





