doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.article
            include ./header.jade


            .container.cf
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная

                            li
                                span О нас
                    h1 О нас
                    .img_block
                        .img-holder
                           img(src="img/content/img_blog.jpg", title="О нас")
                    .block_text
                        p.
                            Торговый Дом ZHIRROM предлагает Вам головные уборы и аксессуары для детей , женщин и мужчин оптом , по цене производителя.
                            Береты,шапки, колпаки , чалмы, кепки, пилотки, капюшоны, снуды , перекрутки , шарфы из Италии и Индии, туники из французского шифона. Головные уборы оптом с декором из меха кролика, песца, теленка, норки, чернобурки и енота.
                            Шапки изготавливаются исключительно из итальянского сырья высшего качества.
                        p.
                            Купить оптом Вы можете у нас в интернет-магазине головных уборов и аксессуаров ZHIRROM.
                            Мы поможем подобрать и всегда проконсультируем какие модели головных уборов лучше всего подойдут именно для Вас.
                        p С Уважением, команда ZHIRROM
                   




            include ./footer.jade



