doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.article
            include ./header.jade


            .container.cf
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная
                            li
                                a(href="blog.html") Блог
                            li
                                span Уход за головными уборами
                    h1 Уход за головными уборами
                    .img_block
                        .img-holder
                           img(src="img/content/img_blog.jpg", title="Уход за головными уборами")
                    .block_text
                        p.
                            С другой стороны рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
                            Значимость этих проблем настолько очевидна, что рамки и место обучения кадров влечет за собой процесс внедрения и модернизации новых предложений.
                            Разнообразный и богатый опыт сложившаяся структура организации требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.
                            Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации существенных финансовых
                            и административных условий.
                        p.
                            Идейные соображения высшего порядка, а также новая модель организационной деятельности влечет за собой процесс внедрения и модернизации форм развития.
                            С другой стороны реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании форм развития.


                        .block_share_social
                            .title_share_social Поделиться:
                            .ya-share2(data-services='vkontakte,facebook')


            include ./footer.jade



