doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.blog
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная

                            li
                                span Блог
                    h1 Блог
                    .list_items
                        .item.cf
                            .img_block
                                .img-holder
                                    a(href="article.html")
                                        img(src="img/content/img_blog.jpg", title="Уход за головными уборами", alt="Уход за головными уборами")
                            .block_text
                                .id_article 01
                                .name(title="Уход за головными уборами")
                                    a(href="article.html") Уход за головными уборами
                                .short_description.
                                    Идейные соображения высшего порядка, а также новая модель организационной деятельности влечет
                                    за собой процесс внедрения и модернизации форм развития.
                                a.readmore(href="article.html") Читать больше

                        .item.cf
                            .img_block
                                .img-holder
                                    a(href="article.html")
                                        img(src="img/content/img_blog.jpg", title="Уход за головными уборами", alt="Уход за головными уборами")
                            .block_text
                                .id_article 02
                                .name(title="Уход за головными уборами")
                                    a(href="article.html") Уход за головными уборами
                                .short_description.
                                    Идейные соображения высшего порядка, а также новая модель организационной деятельности влечет
                                    за собой процесс внедрения и модернизации форм развития.
                                a.readmore(href="article.html") Читать больше


                        .item.cf
                            .img_block
                                .img-holder
                                    a(href="article.html")
                                        img(src="img/content/img_blog.jpg", title="Уход за головными уборами", alt="Уход за головными уборами")
                            .block_text
                                .id_article 03
                                .name(title="Уход за головными уборами")
                                    a(href="article.html") Уход за головными уборами
                                .short_description.
                                    Идейные соображения высшего порядка, а также новая модель организационной деятельности влечет
                                    за собой процесс внедрения и модернизации форм развития.
                                a.readmore(href="article.html") Читать больше

                        .item.cf
                            .img_block
                                .img-holder
                                    a(href="article.html")
                                        img(src="img/content/img_blog.jpg", title="Уход за головными уборами", alt="Уход за головными уборами")
                            .block_text
                                .id_article 04
                                .name(title="Уход за головными уборами")
                                    a(href="article.html") Уход за головными уборами
                                .short_description.
                                    Идейные соображения высшего порядка, а также новая модель организационной деятельности влечет
                                    за собой процесс внедрения и модернизации форм развития.
                                a.readmore(href="article.html") Читать больше

                    input(type="text" class="hidden" id="page" name="page" value="1")            
                    .pagination_list
                            ul
                                li.prev
                                    a(href="#")
                                li.next
                                    a.ias-trigger(href="#") показать еще
                    .pagination
                        ul
                            li.prev
                                a(href="#") Предыдущая
                            li.next
                                a(href="#") Следующая



            include ./footer.jade



