doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.brand
            include ./header.jade


            .container
                .wrap
                    .block_brand.cf
                        h1 Бренды




            include ./footer.jade



