doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.brand
            include ./header.jade


            .container
                .wrap
                    .block_brand.cf
                        h1 Бренды
                        .text_block.
                            В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом
                            и придаст неповторимый колорит советских времен.
                        ul.list_brand2.inline-layout
                            li.item
                                a.img-holder(href="#")
                                    img(src="img/content/brollini.png", alt="brollini")
                            li.item
                                a.img-holder(href="#")
                                    img(src="img/content/lochicalaca.png", alt="lochicalaca")
                            li.item
                                a.img-holder(href="#")
                                    img(src="img/content/noble.png", alt="noble")
                            li.item
                                a.img-holder(href="#")
                                    img(src="img/content/mialt.png", alt="mialt")
                            li.item
                                a.img-holder(href="#")
                                    img(src="img/content/daniil.png", alt="daniil")
                            li.item
                                a.img-holder(href="#")
                                    img(src="img/content/mialt.png", alt="mialt")
                            li.item
                                a.img-holder(href="#")
                                    img(src="img/content/daniil.png", alt="daniil")


            include ./footer.jade



