doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.brand
            include ./header.jade


            .container
                .wrap
                    .block_brand.cf
                        h1 Бренды
                        .text_block.
                            В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом
                            и придаст неповторимый колорит советских времен.
                        ul.list_brand
                            li
                                a(href="list_product2.html") DANIIL&DANIELA
                            li
                                a(href="list_product2.html") BRIOLLINI
                            li
                                a(href="list_product2.html") DAN&DANI
                            li
                                a(href="list_product2.html") DIALINI
                            li
                                a(href="list_product2.html") DANIIL&DANIELA
                            li
                                a(href="list_product2.html") ЛИДИЯ СВИРИДЮК
                            li
                                a(href="list_product2.html") NELLEX
                            li
                                a(href="list_product2.html") LAK MISS

                            li
                                a(href="list_product2.html") РУЧНАЯ РАБОТА
                            li
                                a(href="list_product2.html") KORTA
                            li
                                a(href="list_product2.html") LA CHICA LOCA
                            li
                                a(href="list_product2.html") MALINA
                            li
                                a(href="list_product2.html") SHUMI DESIGN
                            li
                                a(href="list_product2.html") BRIOLLINI
                            li
                                a(href="list_product2.html") KORTA
                            li
                                a(href="list_product2.html") МИАЛТ
                            li
                                a(href="list_product2.html") ЯРИК
                            li
                                a(href="list_product2.html") BÜREL

            include ./footer.jade



