doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.article.contact
            include ./header.jade


            .container.cf
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная

                            li
                                span Контакты
                    h1 Контакты
                    .img_block
                        #map_canvas

                    .block_text
                        p Уважаемые Клиенты, нам очень важно, чтобы у Вас не было никаких трудностей относительно создания Вашего заказа.
                        p Время работы:  пн-пт 07:00 до 16:00 сб,вс с 8:00 до 16:00
                        p Адрес: г Москва ТК "Южные Ворота" линия з-9 пав 122 и 13з
                        p
                            | Тел.:&nbsp;
                            a(href="tel:+7(495) 369-14-15") +7(495) 369-14-15
                            | ,&nbsp;
                            a(href="tel:+7(925) 035-31-31") +7(925) 035-31-31
                            | (Viber /Whatsapp)
                        p
                            | Почта:&nbsp;
                            a(href="mailto:zhirrom@mail.ru") zhirrom@mail.ru
                        a(href="#contact_form" class="open_modal") написать нам




            include ./footer.jade
            script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3')
            script(src="js/map.js")


