
footer
    .footer
        .wrap
            .logo
                a(href="index.html")
                    img(src="img/icons/logo-f.png", alt="Zhirrom")
                form#subscription
                    h3 Подписаться на акции и скидки
                    div
                        input(type="text" placeholder="Почта:" data-validate="email")
                    .btn.submit

            .contact
                h4 Связаться с нами
                div.ringo-phone
                    a(href="tel:+7(495) 369-14-15") +7(495) 369-14-15
                    a(href="tel:+7(925) 035-31-31") +7(925) 035-31-31
                div  Email:&#160;
                    a(href="mailto:zhirrom@mail.ru") zhirrom@mail.ru
                div.work_time Время работы:
                    span пн-пт 9.00-18.00
            .user_block
                h4 Личный кабинет
                a.login.open_modal(href="#login") Авторизация
                span &#160;/&#160;
                a.registration(href="registration.html") Регистрация
                h4 Социальные сети
                .social

                        a.vk(href="#" target="_blank")
                            i.fa.fa-vk
                        a.facebook(href="#" target="_blank")
                            i.fa.fa-facebook
                        a.instagram(href="#" target="_blank")
                             i.fa.fa-instagram
                        a.odnoklassniki(href="https://ok.ru/shapkipremium.optomivroznitsu" target="_blank")
                            i.fa.fa-odnoklassniki
                div
                    a(href="#") Карта сайта
    .copyright_block.cf
        .wrap.cf
            div.copyright_zhirrom Copyright 2016
                span &#160;Zhirrom
            div.copyright
                a(href="http://intertechcompany.com/" target="_blank") Разработка: INTERTECH




//a(href="#contact_form" class="open_modal link_form_contact")




#login.modal_div

    .modal_close
    form(action="#")

        h3 Вход в личный кабинет

        .form-holder

            //p.error Ваш аккуант заблокированно
            div
                input(type="text", placeholder="Почта:", name="email", data-validate="email")
            div
                input(type="password", placeholder="Пароль:", name="pass", data-validate="pass")
            a.update_password(href="update_password.html") Забыли пароль?
            .btn.submit Отправить
            .login-social Авторизация через:
                a(href="#" target="_blank" class="vk-login")
                    i(class="fa fa-vk")
                a(href="#" target="_blank" class="vk-facebook")
                    i(class="fa fa-facebook")


#call_back.modal_div

    .modal_close
    .message_modal  Форма успешно отправлена
    form(action="#")

        h3 Заказать звонок

        .form-holder


            div
                input(type="text", placeholder="Имя:", name="name", data-validate="name")
            div
                input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")

            .btn.submit Отправить

#contact_form.modal_div

    .modal_close
    .message_modal  Форма успешно отправлена
    form(action="#")

        h3 Связаться с нами

        .form-holder

            .row-group
                div
                    input(type="text", placeholder="Имя:", name="name", data-validate="name")
                div
                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
            div
                textarea(placeholder="Текст:", name="feedback", data-validate="name")
            .btn.submit Отправить


#certificate.modal_div

    .modal_close
    .img-holder
        img(src="img/content/certificate.png", alt="Сертификат")

#report_available.modal_div.show

    .modal_close
    .modal_content Когда товар появится на складе мы вам сообщим.
.modal_div.show

    .modal_close
    .modal_content Когда товар появится на складе мы вам сообщим.
#order_status_result.modal_div

    .modal_close
    .modal_content Товар доставлено
#overlay

script(src="bower_components/jquery/dist/jquery.js")
script(src="js/jquery.elevateZoom-3.0.8.min.js")
script(src="js/functions.js")
script(src="js/bootstrap_tabs.min.js")
script(src="js/alexValidate.js")
script(src="bower_components/jquery.bxslider/jquery.bxslider.js")
script(src="js/owl.carousel.js")
script(src="js/jquery.selectbox.min.js")
script(src="js/jquery.maskedinput.js")


script(type='text/javascript', src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8')
script(type='text/javascript', src='//yastatic.net/share2/share.js', charset='utf-8')


//script(type='text/javascript').
    var ias = jQuery.ias({
        container: '.list_items',
        item: '.item',
        pagination: '.pagination',
        next: '.next a'
    });
    ias.extension(new IASTriggerExtension({
        text: 'показать еще' // optionally
    }));