
footer
    .footer
        .wrap
            .logo
                a(href="/")
                    img(src="img/icons/logo-footer.png")

            .contact
                h4 Связаться с нами
                div  Телефон:&#160;
                    a(href="tel:+7(495) 369-14-15") +7(495) 369-14-15
                div  Телефон:&#160;
                   a(href="tel:+7(925) 035-31-31") +7(925) 035-31-31
                div  Email:&#160;
                    a(href="mailto:client@zhirrom.ru") client@zhirrom.ru
            .user_block
                h4 Личный кабинет
                a.login.open_modal(href="#login") Авторизация
                span &#160;/&#160;
                a.registration.open_modal(href="#registration") Регистрация
                h4 Социальные сети
                .social

                        a.vk(href="#" target="_blank")
                            i.fa.fa-vk
                        a.facebook(href="#" target="_blank")
                            i.fa.fa-facebook
                         a.instagram(href="#" target="_blank")
                             i.fa.fa-instagram

    .copyright_block.cf
        .wrap.cf
            div.copyright_zhirrom Copyright 2016
                span &#160;Zhirrom
            div.copyright
                a(href="http://intertechcompany.com/" target="_blank") Разработка: INTERTECH





#registration.modal_div

    .modal_close
    form

        h3 Регистрация пользователя

        .form-holder
            .row-group
                div
                    input(type="text", placeholder="ФИО:", name="name", minlength="2", data-validate="name")
                div
                    input(type="text", placeholder="Телефон:", name="phone", data-validate="phone")
            .row-group
                div
                    input(type="text", placeholder="Почта:", name="email", data-validate="email")
                div
                    input(type="text", placeholder="Адрес:", name="address", data-validate="name")
            .row-group
                div
                    input(type="text", placeholder="ИНН:", name="iin", data-validate="number")
                div.file
                    input(type="file",  name="file")
            .row-group
                div.assortment
                    input(type="text", placeholder="Интересующий асортимент:", name="assortment", data-validate="name")
            .btn.submit Отправить

#login.modal_div

    .modal_close
    form

        h3 Вход в личный кабинет

        .form-holder


            div
                input(type="text", placeholder="Почта:", name="email", data-validate="email")
            div
                input(type="text", placeholder="Пароль:", name="pass", data-validate="pass")

            .btn.submit Отправить

#overlay

script(src="bower_components/jquery/dist/jquery.js")
script(src="js/functions.js")
script(src="js/bootstrap_tabs.min.js")
script(src="js/alexValidate.js")
script(src="bower_components/jquery.bxslider/jquery.bxslider.js")
script.
    (function() {
      var cx = '007193684977280474025:m3ozddvtnpw';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
      })();
