//#preloader
header
    .top
        .wrap.cf
            #menu-mobile
                #menu-icon
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                nav.menu

                        ul
                            li.active
                                a(href="index.html") Главная
                            li.parent
                                a(href="catalog.html") Женщинам

                                ul.drop-menu

                                    li
                                        a(href="list_product.html") ЖЕНСКИЕ ГОЛОВНЫЕ УБОРЫ


                                    li
                                        a(href="list_product.html") ЖЕНСКИЕ ШАПКИ



                                    li
                                        a(href="list_product.html") ЖЕНСКИЕ АКСЕССУАРЫ




                            li.parent
                                a(href="catalog.html") Мужчинам
                                ul.drop-menu
                                    li
                                        a(href="list_product.html") МУЖСКИЕ ГОЛОВНЫЕ УБОРЫ

                                    li
                                        a(href="list_product.html") ОДЕЖДА




                                    li
                                        a(href="list_product.html") АКСЕССУАРЫ


                            li.parent
                                a(href="catalog.html") Детям
                                ul.drop-menu
                                    li
                                        a(href="list_product.html") ДЛЯ ДЕВОЧЕК

                                    li
                                        a(href="list_product.html") ДЛЯ МАЛЬЧИКОВ



                            li
                                a(href="brand.html") Бренды
                            li
                                a(href="about.html") О нас
                            li
                                a(href="working.html") Условия работы
                            li
                                a(href="blog.html") Блог
                            li
                                a(href="contact.html") Контакты
                            li
                                a(href="faq.html") FAQ
                            li.search
                                a.open_modal(href="#search_modal") Поиск


            .list_contact.inline-layout
                .phone.ringo-phone
                    a(href="tel:+7(495) 369-14-15") +7(495) 369-14-15

                .email
                    a(href="mailto:zhirrom@mail.ru") client@zhirrom.ru
                .work_time
                    span Пн-Пт 9.00-18.00
                .link_faq
                    a(href="faq.html") faq



            .user-login
                a.registration(href="registration.html") Регистрация
                a.login.open_modal(href="#login") Вход
            .user-account.hidden
                a.profile(href="#") Личный кабинет
                a.cart(href="cart.html") Корзина
                    span 12
                a.logout(href="#") Выход


    .header.cf
        .wrap.inline-layout


            .block-logo
                .logo
                    a(href="index.html")
                        img(src="img/icons/logo_header.png", alt="Zhirrom")


            .block-info-header

                .slogan
                    span Оптовый&nbsp;
                    | мир головных уборов и аксессуаров
                .block-infosold.inline-layout
                    .number.inline-layout#count_buy

                        .number1 1
                        .number2 9
                        .number3 9
                        .number4 9
                        .number5 9
                        .number6 8
                        .number7 7
                    span Проданых изделий
                .slogan2
                    span.number 20
                    | Лучших брендов в одном месте
                .slogan3
                    span.number 1000
                    | единиц товара в ассортименте


    nav#menu
        .wrap
            ul
                li.active
                    a(href="index.html") Главная
                li.parent
                    a(href="catalog.html") Женщинам

                    ul.drop-menu-1

                        li.parent-menu
                            a(href="list_product.html") ЖЕНСКИЕ ГОЛОВНЫЕ УБОРЫ

                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ШАПКИ

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ШАПКИ С МЕХОМ


                                    li.parent-menu
                                        a(href="list_product.html") БЕРЕТЫ

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ КОМПЛЕКТЫ
                                    li.parent-menu
                                        a(href="list_product.html") ПИЛОТКИ
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ КАПЮШОНЫ
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ СНУДЫ
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ КЕПКИ
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ КАПЮШОНЫ


                                    li.parent-menu
                                        a(href="list_product.html") ПОВЯЗКИ НА ГОЛОВУ

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ШЛЯПЫ

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ БЕЙСБОЛКИ


                                    li.parent-menu
                                        a(href="list_product.html") ЛЕТНИЕ КОСЫНКИ
                                a.link_all(href="") Просмотреть все
                        li.parent-menu
                            a(href="list_product.html") ЖЕНСКИЕ ШАПКИ

                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") ТУНИКИ


                                    li.parent-menu
                                        a(href="list_product.html") ШОРТЫ
                                a.link_all(href="") Просмотреть все


                        li.parent-menu
                            a(href="list_product.html") ЖЕНСКИЕ АКСЕССУАРЫ

                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ШАРФЫ

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ПЕРЧАТКИ

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ВАРЕЖКИ

                                    li.parent-menu
                                        a(href="list_product.html") МИТЕНКИ

                                    li.parent-menu
                                        a(href="list_product.html") ПАЛАНТИНЫ
                                    li.parent-menu
                                        a(href="list_product.html") МЕХОВЫЕ НАУШНИКИ

                                    li.parent-menu
                                        a(href="list_product.html") СУМКИ

                                a.link_all(href="") Просмотреть все

                li.parent
                    a(href="catalog.html") Мужчинам
                    ul.drop-menu-1
                        li.parent-menu
                            a(href="list_product.html") МУЖСКИЕ ГОЛОВНЫЕ УБОРЫ
                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ШАПКИ

                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ШЛЯПЫ


                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ КЕПКИ
                                a.link_all(href="") Просмотреть все
                        li.parent-menu
                            a(href="list_product.html") ОДЕЖДА
                            ul.drop-menu-2



                        li.parent-menu
                            a(href="list_product.html") АКСЕССУАРЫ
                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ШАРФЫ
                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ВАРЕЖКИ

                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ПЕРЧАТКИ

                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ СНУДЫ
                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ КОМПЛЕКТЫ
                                a.link_all(href="") Просмотреть все


                li.parent
                    a(href="catalog.html") Детям
                    ul.drop-menu-1
                        li.parent-menu
                            a(href="list_product.html") ДЛЯ ДЕВОЧЕК
                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") Головные уборы
                                    li.parent-menu
                                        a(href="list_product.html") ОДЕЖДА
                                    li.parent-menu
                                        a(href="list_product.html") Аксессуары
                                a.link_all(href="") Просмотреть все

                        li.parent-menu
                            a(href="list_product.html") ДЛЯ МАЛЬЧИКОВ
                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") Головные уборы
                                    li.parent-menu
                                        a(href="list_product.html") ОДЕЖДА
                                    li.parent-menu
                                        a(href="list_product.html") Аксессуары


                                a.link_all(href="") Просмотреть все


                li
                    a(href="brand.html") Бренды
                li
                    a(href="about.html") О нас
                li
                    a(href="working.html") Условия работы

                li
                    a(href="blog.html") Блог
                li
                    a(href="contact.html") Контакты
                li.search
                    a.open_modal(href="#search_modal") Поиск



