
header
    .top
        .wrap
            .phone
                span  Тел:
                a(href="tel:+7(495) 369-14-15") +7(495) 369-14-15
                a(href="tel:+7(925) 035-31-31") +7(925) 035-31-31

            .email
                span  Почта:
                a(href="mailto:client@zhirrom.ru") client@zhirrom.ru


            .user-login
                a.login(href="#")
                    span В
                    | ход
                a.registration(href="#")
                    span Р
                    | егистрация




    .header
        .logo
            a(href="/")
                img(src="img/icons/logo.png")

        #menu
            ul
                li.active
                    a(href="/") Главная
                li
                    a(href="#") Женщинам
                li
                    a(href="#") Детям

                li
                    a(href="#") Мужчинам
                li
                    a(href="#") Бренлы
                li
                    a(href="#") О нас
                li
                    a(href="#") Условия работы

                li
                    a(href="#") Блог
                li
                    a(href="#") Контакты


    .slider
       .item(style='background: url("../img/content/slider1.jpg") no-repeat top center;    background-size: cover;')
            .block_text.left_text
                h3 Магазин
                    span оптовых
                    | продаж
                a(href="#") Подробнее


       .item(style='background: url("../img/content/slider2.jpg") no-repeat top center;    background-size: cover;')
                    .block_text
                        h3 Зарегистрируйтесь и получите цены от производителя!
                        a(href="#") зарегистрироваться
       .item(style='background: url("../img/content/slider3.jpg") no-repeat top center;    background-size: cover;')
                   .block_text
                       h3 Закажите звонок и наш менеджер с вами свяжется
                       a(href="#") заказать звонок