//#preloader
header
    .top
        .wrap.cf
            nav.menu
                ul
                    li
                        a(href="about.html") О компании

                    li
                        a(href="faq.html") faq

                    li
                        a(href="blog.html") Статьи


            form#order_status(action="#")
                h3 Состояние заказа
                div
                    input(type="text" placeholder="Номер заказа" data-validate="number")
                .btn.submit

            .user-login
                a.registration(href="registration.html") Регистрация
                a.login.open_modal(href="#login") Вход





    .header.cf
        .list_contact
            .phone
                a(href="tel:+7(495) 369-14-15") +7(495) 369-14-15
                | &nbsp;&nbsp;&nbsp;
                a(href="tel:+7(925) 035-31-31") +7(925) 035-31-31
            .mail
                | Почта:&nbsp;
                a(href="mailto:zhirrom@mail.ru") client@zhirrom.ru
            .work_time Время работы: пн-пт 9.00-18.00

        .block-logo
            .logo
                a(href="index.html")
                    img(src="img/icons/logo.png", alt="Zhirrom")

            .tagline
                |“Головные уборы оптом по ценам производителей.
                br
                span Доставка по всей России и СНГ”

        .block-info-header
            .search
                form(action="search.html" role="search")
                    div.form-control
                        input(type="text" name="search" placeholder="Поиск" minlength="2" data-validate="name")
                    .btn.submit

            .block-infosold
                .number 1000 000&nbsp;
                | Проданых изделий

            .cart
                a(href="cart.html") Товаров в корзине:&#160;
                    span 0

        nav#menu
            ul
                li.active
                    a(href="index.html") Главная
                li.parent
                    a(href="catalog.html") Женщинам

                    ul.drop-menu-1

                        li.parent-menu
                            a(href="list_product.html") ЖЕНСКИЕ ГОЛОВНЫЕ УБОРЫ

                            ul.drop-menu-2
                                ul.colum-2
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ШАПКИ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html" title="Трикотажные шапки") Трикотажные шапки
                                            li
                                                a(href="list_product.html" title="Шерстяные шапки") Шерстяные шапки
                                            li
                                                a(href="list_product.html") Вязаные шапки
                                            li
                                                a(href="list_product.html") Шапки носок
                                            li
                                                a(href="list_product.html") Шапки с отворотом

                                            li
                                                a(href="list_product.html") Чалма
                                            li
                                                a(href="list_product.html") Шапки с помпоном
                                            li
                                                a(href="list_product.html") Шапки с натуральным помпоном
                                            li
                                                a(href="list_product.html") Шапки ушанки
                                            li
                                                a(href="list_product.html") Шапки косынка
                                            li
                                                a(href="list_product.html") Кашемировые шапки

                                            li
                                                a(href="list_product.html") Мохеровые шапки
                                            li
                                                a(href="list_product.html") Флисовые шапки
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ШАПКИ С МЕХОМ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Шапки с мехом кролика
                                            li
                                                a(href="list_product.html") Шапки с мехом норки
                                            li
                                                a(href="list_product.html") Шапки с мехом песца

                                            li
                                                a(href="list_product.html") Шапки с мехом енота
                                            li
                                                a(href="list_product.html") Шапки с мехом чернобурки
                                ul.colum-2
                                    li.parent-menu
                                        a(href="list_product.html") БЕРЕТЫ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Французские береты
                                            li
                                                a(href="list_product.html") Береты на ножке

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ КОМПЛЕКТЫ
                                    li.parent-menu
                                        a(href="list_product.html") ПИЛОТКИ
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ КАПЮШОНЫ
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ СНУДЫ
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ КЕПКИ
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ КАПЮШОНЫ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Кепка восьмиклинка
                                            li
                                                a(href="list_product.html") Кепки немки

                                    li.parent-menu
                                        a(href="list_product.html") ПОВЯЗКИ НА ГОЛОВУ

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ШЛЯПЫ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Шляпа трибли
                                            li
                                                a(href="list_product.html") Шляпа федора
                                            li
                                                a(href="list_product.html") Шляпа панама
                                            li
                                                a(href="list_product.html") Шляпа с широкими полями
                                            li
                                                a(href="list_product.html") Шляпы с маленькими полями
                                            li
                                                a(href="list_product.html") Шляпы соломенные

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ БЕЙСБОЛКИ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Бейсболки классические
                                            li
                                                a(href="list_product.html") Джинсовые бейсболки
                                            li
                                                a(href="list_product.html") Козырьки бейсболки

                                    li.parent-menu
                                        a(href="list_product.html") ЛЕТНИЕ КОСЫНКИ

                        li.parent-menu
                            a(href="list_product.html") ЖЕНСКИЕ ШАПКИ

                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") ТУНИКИ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Платья туники
                                            li
                                                a(href="list_product.html") Блузки туники
                                            li
                                                a(href="list_product.html") Пляжные туники
                                            li
                                                a(href="list_product.html") Туники больших размеров
                                            li
                                                a(href="list_product.html") Туники для дома


                                    li.parent-menu
                                        a(href="list_product.html") ШОРТЫ



                        li.parent-menu
                            a(href="list_product.html") ЖЕНСКИЕ АКСЕССУАРЫ

                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ШАРФЫ

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ПЕРЧАТКИ

                                    li.parent-menu
                                        a(href="list_product.html") ЖЕНСКИЕ ВАРЕЖКИ

                                    li.parent-menu
                                        a(href="list_product.html") МИТЕНКИ

                                    li.parent-menu
                                        a(href="list_product.html") ПАЛАНТИНЫ
                                    li.parent-menu
                                        a(href="list_product.html") МЕХОВЫЕ НАУШНИКИ

                                    li.parent-menu
                                        a(href="list_product.html") СУМКИ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Арт-сумки
                                            li
                                                a(href="list_product.html") Сумки почтальонки
                                            li
                                                a(href="list_product.html") Пляжная сумка
                                            li
                                                a(href="list_product.html") Сумка рюкзак
                                            li
                                                a(href="list_product.html") Сумка кроссбоди
                                            li
                                                a(href="list_product.html") Сумка ранец

                li.parent
                    a(href="catalog.html") Детям
                    ul.drop-menu-1.tabs

                        .tabs-menu
                            ul.nav.nav-tabs.cf
                                li.active(href="#child_girls" data-toggle="tab") ДЛЯ ДЕВОЧЕК
                                li(href="#child_boys" data-toggle="tab") ДЛЯ МАЛЬЧИКОВ


                        .tab-content
                            .tab-pane.active(id="child_girls")
                                li.parent-menu
                                    a(href="list_product.html") Головные уборы
                                    ul.drop-menu-2
                                        ul.colum-2
                                            li.parent-menu
                                                a(href="list_product.html") Шапки
                                                ul.drop-menu-3
                                                    li
                                                        a(href="list_product.html") Трикотажные
                                                    li
                                                        a(href="list_product.html") Вязаные
                                                    li
                                                        a(href="list_product.html") Ушанки
                                                    li
                                                        a(href="list_product.html") С помпоном

                                                    li
                                                        a(href="list_product.html") С ушками
                                                    li
                                                        a(href="list_product.html") Шлем
                                                    li
                                                        a(href="list_product.html") Двойная
                                                    li
                                                        a(href="list_product.html") Шапка чулок

                                            li.parent-menu
                                                a(href="list_product.html") Береты
                                        ul.colum-2
                                            li.parent-menu
                                                a(href="list_product.html") Панамы
                                            li.parent-menu
                                                a(href="list_product.html") Повязка
                                            li.parent-menu
                                                a(href="list_product.html") Шапочки чепчики
                                            li.parent-menu
                                                a(href="list_product.html") Косынки
                                                ul.drop-menu-3
                                                    li
                                                        a(href="list_product.html") Кепки джинсовые
                                            li.parent-menu
                                                a(href="list_product.html") Банданы


                                            li.parent-menu
                                                a(href="list_product.html") Кепки

                                            li.parent-menu
                                                a(href="list_product.html") Панамы
                                            li.parent-menu
                                                a(href="list_product.html") Повязка
                                            li.parent-menu
                                                a(href="list_product.html") Шапочки чепчики
                                            li.parent-menu
                                                a(href="list_product.html") Косынки

                                li.parent-menu
                                    a(href="list_product.html") ОДЕЖДА
                                    ul.drop-menu-2
                                li.parent-menu
                                    a(href="list_product.html") Аксессуары
                                    ul.drop-menu-2
                                        ul.colum
                                            li.parent-menu
                                                a(href="list_product.html") Шарфы
                                            li.parent-menu
                                                a(href="list_product.html") Перчатки
                                            li.parent-menu
                                                a(href="list_product.html") Манишки
                                            li.parent-menu
                                                a(href="list_product.html") Комплекты

                            .tab-pane(id="child_boys")
                                li.parent-menu
                                    a(href="list_product.html") Головные уборы
                                    ul.drop-menu-2
                                        ul.colum-2
                                            li.parent-menu
                                                a(href="list_product.html") Шапки
                                                ul.drop-menu-3
                                                    li
                                                        a(href="list_product.html") Трикотажные
                                                    li
                                                        a(href="list_product.html") Вязаные
                                                    li
                                                        a(href="list_product.html") Ушанки
                                                    li
                                                        a(href="list_product.html") С помпоном

                                                    li
                                                        a(href="list_product.html") С ушками
                                                    li
                                                        a(href="list_product.html") Шлем
                                                    li
                                                        a(href="list_product.html") Двойная
                                                    li
                                                        a(href="list_product.html") Шапка чулок

                                        ul.colum-2
                                            li.parent-menu
                                                a(href="list_product.html") Панамы
                                            li.parent-menu
                                                a(href="list_product.html") Банданы
                                            li.parent-menu
                                                a(href="list_product.html") Кепки
                                            li.parent-menu
                                                a(href="list_product.html") Шляпа

                                            li.parent-menu
                                                a(href="list_product.html") Бейсболки
                                                ul.drop-menu-3
                                                    li
                                                        a(href="list_product.html") Бейсболки с сеточкой

                                            li.parent-menu
                                                a(href="list_product.html") Шапочки чепчики


                                li.parent-menu
                                    a(href="list_product.html") ОДЕЖДА
                                    ul.drop-menu-2
                                li.parent-menu
                                    a(href="list_product.html") Аксессуары
                                    ul.drop-menu-2
                                        ul.colum
                                            li.parent-menu
                                                a(href="list_product.html") Шарфы
                                            li.parent-menu
                                                a(href="list_product.html") Перчатки
                                            li.parent-menu
                                                a(href="list_product.html") Комплекты



                li.parent
                    a(href="catalog.html") Мужчинам
                    ul.drop-menu-1
                        li.parent-menu
                            a(href="list_product.html") МУЖСКИЕ ГОЛОВНЫЕ УБОРЫ
                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ШАПКИ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Шапка с помпоном
                                            li
                                                a(href="list_product.html") Шапка колпак
                                            li
                                                a(href="list_product.html") Флисовая шапка
                                            li
                                                a(href="list_product.html") Вязаные шапки

                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ШЛЯПЫ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Фетровая шляпа
                                            li
                                                a(href="list_product.html") Кожаные шляпы
                                            li
                                                a(href="list_product.html") Замшевые шляпы


                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ КЕПКИ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Кепка восьмиклинка
                                            li
                                                a(href="list_product.html") Кепки немки

                        li.parent-menu
                            a(href="list_product.html") ОДЕЖДА
                            ul.drop-menu-2



                        li.parent-menu
                            a(href="list_product.html") АКСЕССУАРЫ
                            ul.drop-menu-2
                                ul.colum
                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ШАРФЫ
                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ВАРЕЖКИ

                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ ПЕРЧАТКИ
                                        ul.drop-menu-3
                                            li
                                                a(href="list_product.html") Кожаные перчатки
                                            li
                                                a(href="list_product.html") Перчатки без пальцев
                                            li
                                                a(href="list_product.html") Перчатки для сенсорных экранов
                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ СНУДЫ
                                    li.parent-menu
                                        a(href="list_product.html") МУЖСКИЕ КОМПЛЕКТЫ

                li
                    a(href="brand.html") Бренды
                li
                    a(href="about.html") О нас
                li
                    a(href="working.html") Условия работы

                li
                    a(href="blog.html") Блог
                li
                    a(href="contact.html") Контакты


header.mobile
    .top.cf
        #menu-mobile
            #menu-icon
                span.icon-bar
                span.icon-bar
                span.icon-bar

            nav.menu
                ul
                    li.active
                        a(href="index.html") Главная
                    li.parent
                        a(href="catalog.html") Женщинам
                        ul.drop-menu
                            li
                                a(href="list_product.html") Головные уборы
                            li
                                a(href="list_product.html") Одежда
                            li
                                a(href="list_product.html") Аксессуары
                    li.parent
                        a(href="catalog.html") Детям
                        ul.drop-menu
                            li
                                a(href="list_product.html") Головные уборы

                            li
                                a(href="list_product.html") Аксессуары

                    li.parent
                        a(href="catalog.html") Мужчинам
                        ul.drop-menu
                            li
                                a(href="list_product.html") Головные уборы
                            li
                                a(href="list_product.html") Аксессуары
                    li
                        a(href="brand.html") Бренды
                    li
                        a(href="about.html") О нас
                    li
                        a(href="working.html") Условия работы

                    li
                        a(href="blog.html") Блог
                    li
                        a(href="faq.html") faq
                    li
                        a(href="contact.html") Контакты


        form.order_status(action="#")

            div
                input(type="text" placeholder="Номер заказа" data-validate="number")
            .btn.submit


    .header.cf



        .block_logo
            .logo
                a(href="index.html")
                    img(src="img/icons/logo.png", alt="Zhirrom")

            .tagline
                | “Головные уборы оптом по ценам производителей.
                br
                span Доставка по всей России и СНГ”
        .header_left
            .user-login
                a.login.open_modal(href="#login") Вход
                a.registration(href="registration.html") Регистрация


        .header_right

            .search
                form(action="search.html" role="search")
                    div.form-control
                        input(type="text" name="search" placeholder="Поиск" minlength="2" data-validate="name")
                    .btn.submit


            .cart
                a(href="cart.html") В корзине:&#160;
                    span 0





