//#preloader
header
    .top
        .wrap.cf
            .menu
                li
                    a(href="about.html") О компании

                li
                    a(href="#") Таблица размеров

                li
                    a(href="blog.html") Статьи


            form#order_status
                h3 Состояние заказа
                div
                    input(type="text" placeholder="Номер заказа" data-validate="number")
                .btn.submit

            .user-login
                a.registration(href="registration.html") Регистрация
                a.login.open_modal(href="#login") Вход





    .header.cf
        .list_contact
            .phone
                a(href="tel:+7(495) 369-14-15") +7(495) 369-14-15
                | &nbsp;&nbsp;&nbsp;
                a(href="tel:+7(925) 035-31-31") +7(925) 035-31-31
            .mail
                | Почта:&nbsp;
                a(href="mailto:zhirrom@mail.ru") client@zhirrom.ru
            .work_time Время работы: пн-пт 9.00-18.00

        .block-logo
            .logo
                a(href="index.html")
                    img(src="img/icons/logo.png")

            .tagline
                |“Головные уборы оптом по ценам производителей.
                br
                span Доставка по всей России и СНГ”

        .block-info-header
            .search
                form(action="search.html" role="search")
                    div.form-control
                        input(type="text" name="search" placeholder="Поиск" minlength="2" data-validate="name")
                    .btn.submit

            .block-infosold
                .number 1000 000&nbsp;
                | Проданых изделий

            .cart
                a(href="cart.html") Товаров в корзине:&#160;
                    span 0

        #menu
            ul
                li.active
                    a(href="index.html") Главная
                li.parent
                    a(href="catalog.html") Женщинам
                    ul.drop-menu
                        li
                            a(href="list_product.html") Головные уборы
                        li
                            a(href="list_product.html") Одежда
                        li
                            a(href="list_product.html") Аксессуары
                li.parent
                    a(href="catalog.html") Детям
                    ul.drop-menu
                        li
                            a(href="list_product.html") Головные уборы

                        li
                            a(href="list_product.html") Аксессуары

                li.parent
                    a(href="catalog.html") Мужчинам
                    ul.drop-menu
                        li
                            a(href="list_product.html") Головные уборы
                        li
                            a(href="list_product.html") Аксессуары
                li
                    a(href="brand.html") Бренды
                li
                    a(href="about.html") О нас
                li
                    a(href="working.html") Условия работы

                li
                    a(href="blog.html") Блог
                li
                    a(href="contact.html") Контакты


header.mobile
    .top.cf
        #menu-mobile
            #menu-icon
                span.icon-bar
                span.icon-bar
                span.icon-bar


            ul.menu
                li.active
                    a(href="index.html") Главная
                li.parent
                    a(href="catalog.html") Женщинам
                    ul.drop-menu
                        li
                            a(href="list_product.html") Головные уборы
                        li
                            a(href="list_product.html") Одежда
                        li
                            a(href="list_product.html") Аксессуары
                li.parent
                    a(href="catalog.html") Детям
                    ul.drop-menu
                        li
                            a(href="list_product.html") Головные уборы

                        li
                            a(href="list_product.html") Аксессуары

                li.parent
                    a(href="catalog.html") Мужчинам
                    ul.drop-menu
                        li
                            a(href="list_product.html") Головные уборы
                        li
                            a(href="list_product.html") Аксессуары
                li
                    a(href="brand.html") Бренды
                li
                    a(href="about.html") О нас
                li
                    a(href="working.html") Условия работы

                li
                    a(href="blog.html") Блог
                li
                    a(href="#") Таблица размеров
                li
                    a(href="contact.html") Контакты



        .search
            form(action="search.html" role="search")
                div.form-control
                    input(type="text" name="search" placeholder="Поиск" minlength="2" data-validate="name")
                .btn.submit

    .header.cf



        .logo
            a(href="index.html")
                img(src="img/icons/logo.png")
        .header_left
            .user-login
                a.login.open_modal(href="#login") Вход
                a.registration.open_modal(href="registration.html") Регистрация
            .cart
                a(href="cart.html") В корзине:&#160;
                    span 0


        .header_right

            a(href="tel:+7(495) 369-14-15") +7(495) 369-14-15
            a(href="tel:+7(925) 035-31-31") +7(925) 035-31-31
            a.email(href="mailto:client@zhirrom.ru") client@zhirrom.ru
            p пн-пт 9.00-18.00






