
header
    .top
        .wrap
            .phone
                span  Тел:
                a(href="tel:+7(495) 369-14-15") +7(495) 369-14-15
                a(href="tel:+7(925) 035-31-31") +7(925) 035-31-31

            .email
                span  Почта:
                a(href="mailto:client@zhirrom.ru") client@zhirrom.ru


            .user-login
                a.login(href="#")
                    span В
                    | ход
                a.registration(href="#")
                    span Р
                    | егистрация




    .header

        .search
            form(action="/search.html" role="search")
                div.form-control
                    input(type="text" name="search" placeholder="Поиск" minlength="2" data-validate="name")
                .btn.submit

        .logo
            a(href="/")
                img(src="img/icons/logo.png")

        .cart
            a(href="cart.html") Товаров в корзине:&#160;
                span 0

        #menu
            ul
                li.active
                    a(href="/") Главная
                li
                    a(href="#") Женщинам
                li
                    a(href="#") Детям

                li
                    a(href="#") Мужчинам
                li
                    a(href="#") Бренлы
                li
                    a(href="#") О нас
                li
                    a(href="#") Условия работы

                li
                    a(href="#") Блог
                li
                    a(href="#") Контакты


