
header
    .top
        .wrap
            .phone
                span  Тел:
                a(href="tel:+7(495) 369-14-15")+7(495) 369-14-15
                a(href="tel:+7(925) 035-31-31")+7(925) 035-31-31












