doctype html
html(lang="ru")
    include ./head.jade


    body(data-spy="scroll", data-target="#menu", data-offset="105")
        .page_wrapper.home
            include ./header.jade

            .container
                .wrap
                    .about
                        h3 О нашей компании
                        .text_holder
                            p Торговый Дом ZHIRROM предлагает Вам головные уборы и аксессуары для детей , женщин и мужчин оптом , по цене производителя. Береты,шапки, колпаки , чалмы, кепки, пилотки, капюшоны, снуды , перекрутки , шарфы из Италии и Индии, туники из французского шифона. Головные уборы оптом с декором из меха кролика, песца, теленка, норки, чернобурки и енота. Шапки изготавливаются исключительно из итальянского сырья высшего качества.
                            p Купить оптом Вы можете у нас в интернет-магазине головных уборов и аксессуаров ZHIRROM. Мы поможем подобрать и всегда проконсультируем какие модели головных уборов лучше всего подойдут именно для Вас.
                            p С Уважением, команда ZHIRROM

                        .advantages_holder
                            ul
                                li
                                    h4
                                        span 01
                                        | Низкие цены
                                    p.text.
                                        У нас не просто оптовые цены , а цены
                                          самих поставщиков.
                                li
                                    h4
                                        span 02
                                        | Качество и оперативность
                                    p.text.
                                        Наша команда работает оперативно и
                                        качественно, Вы получите только то что
                                        заказывали и в максимально короткие
                                        сроки.
                                li
                                    h4
                                        span 03
                                        | Узнайте о новинках первыми
                                    p.text.
                                        Подписавшись на наши новости Вы первые
                                        получаете эксклюзивный доступ к
                                        особенным моделям.
                                li
                                    h4
                                        span 04
                                        | Первый заказ
                                    p.text.
                                        Ваш первый заказ всего от 10.000 руб.

                #faq
                    .wrap
                        h3 Задать вопрос
                        .block_text
                            h4 Связаться с нами
                            p.text Задача организации, в особенности же реализация намеченных плановых заданий позволяет выполнять важные задания.
                            a(href="#") написать


            #overlay
            include ./footer.jade



