doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home
            include ./header.jade

            #slider
                .slider
                    .item(style='background: url("../img/content/slider1.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text.left_text
                                h3 Магазин
                                    span оптовых
                                    | продаж
                                a(href="catalog.html") Подробнее


                    .item(style='background: url("../img/content/slider2.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text
                                h3 Зарегистрируйтесь и получите цены от производителя!
                                a.open_modal(href="#registration") зарегистрироваться
                    .item(style='background: url("../img/content/slider3.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text
                                h3 Закажите звонок и наш менеджер с вами свяжется
                                a.open_modal(href="#call_back") заказать звонок
            .container
                .wrap
                    .product_new
                        h3 Новинки
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                        .products.list_items.short
                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price

                                a.asking_price(href="registration.html") узнать цену

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.


                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.
                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.


                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.


                        .buttom_more показать еще

                    .list_category2
                        h3 Категории товаров
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                        .categories

                            .item-category.cf
                                a(href="list_product.html")
                                    .img-holder
                                        img(src="img/content/men.jpg", alt="Мужчинам")
                                    .name Мужчинам


                            .item-category.cf
                                a(href="list_product.html")
                                    .img-holder
                                        img(src="img/content/category3.jpg", alt="Женщинам")

                                    .name Женщинам

                            .item-category.cf
                                a(href="list_product.html")
                                    .img-holder
                                        img(src="img/content/child.jpg", alt="Детям")

                                    .name Детям


                            .item-category.cf
                                a(href="list_product.html")
                                    .img-holder
                                        img(src="img/content/tunics.jpg", alt="Туники и палатины")

                                    .name Туники и палатины

                        a.download_price(href="#" target="_blank") скачать прайс

                    .block_advantages
                        h3 Наши преимущества
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                        .list_advantages.list_items.short
                            .item
                                .flipper
                                    .front
                                                .img-holder
                                                    img(src="img/content/icon-advantages-1.png", alt="Индивидуальный подход к каждому клиенту")
                                                .name Индивидуальный подход к каждому клиенту

                                    .back(style="background-image: url(img/content/bg-icon-advantages-5.png);")
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .
                            .item
                                .flipper
                                    .front

                                                .img-holder
                                                    img(src="img/content/icon-advantages-2.png", alt="Головные уборы по ценам производителя от ведущих российских торговых марок")
                                                .name Головные уборы по ценам производителя от ведущих российских торговых марок

                                    .back(style="background-image: url(img/content/bg-icon-advantages-5.png);")
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                                .img-holder
                                                    img(src="img/content/icon-advantages-3.png", alt="Первая закупка - от 20 тыс . рублей.")
                                                .name Первая закупка - от 20 тыс . рублей.

                                    .back(style="background-image: url(img/content/bg-icon-advantages-5.png);")
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                                .img-holder
                                                    img(src="img/content/icon-advantages-4.png", alt="Только высококачественная продукция")
                                                .name Только высококачественная продукция

                                    .back(style="background-image: url(img/content/bg-icon-advantages-5.png);")
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                                .img-holder
                                                    img(src="img/content/icon-advantages-5.png", alt="Постоянное обновление ассортимента")
                                                .name Постоянное обновление ассортимента

                                    .back(style="background-image: url(img/content/bg-icon-advantages-5.png);")
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                                .img-holder
                                                    img(src="img/content/icon-advantages-6.png", alt="Использование итальянской пряжи наивысшего качества")
                                                .name Использование итальянской пряжи наивысшего качества

                                    .back(style="background-image: url(img/content/bg-icon-advantages-5.png);")
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                                .img-holder
                                                    img(src="img/content/icon-advantages-7.png", alt="23 года на рынке головных уборов")
                                                .name 23 года на рынке головных уборов

                                    .back(style="background-image: url(img/content/bg-icon-advantages-5.png);")
                                        .content-advantage
                                            div

                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                                .img-holder
                                                    img(src="img/content/icon-advantages-8.png", alt="Быстрая доставка")
                                                .name Быстрая доставка

                                    .back(style="background-image: url(img/content/bg-icon-advantages-5.png);")
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .



                        .buttom_more показать еще
                    .block_certificate
                        h3 Сертификат
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                        .list_certificate
                            .img-holder
                                a.open_modal(href="#certificate")
                                    img(src="img/content/certificate.png", alt="Сертификат")

                            .img-holder
                                a.open_modal(href="#certificate")
                                    img(src="img/content/certificate.png", alt="Сертификат")

                            .info-certificate
                                p
                                    | ИП Лозовая М.В.
                                    br
                                    | Русский Трикотаж: Шапки оптом по цене производителя с доставкой по
                                    br
                                    | России, Белоруссии, Казахстану, Кыргызстану и Армении.

                                p
                                    | ИНН 262409290610
                                    br
                                    | ОГРН 3142651134400160

                                p Адрес: г. Ессентуки ул. Кисловодская д.30а корп.4 к.55
                                p
                                    |Россия:&nbsp;
                                    a(href="tel:+ 7 (499) 350 22 20") + 7 (499) 350 22 20
                                    br
                                    | Белоруссия:&nbsp;
                                    a(href="tel:+ 7 (499) 350 22 20") + 7 (499) 350 22 20
                                    br
                                    | Кыргызстан:&nbsp;
                                    a(href="tel:+ 996( 312) 96 23 70") + 996( 312) 96 23 70




                    .block_brands
                        h3 Наши поставщики
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
                        .list_brands
                            .item
                                .img-holder
                                    img(src="img/content/brollini.png", alt="brollini")
                            .item
                                .img-holder
                                    img(src="img/content/lochicalaca.png", alt="lochicalaca")
                            .item
                                .img-holder
                                    img(src="img/content/noble.png", alt="noble")
                            .item
                                .img-holder
                                    img(src="img/content/mialt.png", alt="mialt")
                            .item
                                .img-holder
                                    img(src="img/content/daniil.png", alt="daniil")
                            .item
                                .img-holder
                                    img(src="img/content/mialt.png", alt="mialt")
                            .item
                                .img-holder
                                    img(src="img/content/daniil.png", alt="daniil")

                #block_feedback
                    .wrap
                        h3 Отзывы наших клиентов
                        .feedback_list
                            .block_feedback
                                .block_personal.cf
                                    .img_hoder
                                        img(src="img/content/avatar.jpg", alt="Светлана Зарва")
                                    .block_name
                                        .name Светлана Зарва
                                        .data 14 апреля 2016
                                .text_holder.
                                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                    В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                            .block_feedback
                                .block_personal.cf
                                    .img_hoder
                                        img(src="img/content/avatar.jpg" , alt="Светлана Зарва")
                                    .block_name
                                        .name Светлана Зарва
                                        .data 14 апреля 2016
                                .text_holder.
                                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                    В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.


                        a.link_feedback(href="feedback.html") перейти ко всем отзывам



            include ./footer.jade



