doctype html
html(lang="ru")
    include ./head.jade


    body(data-spy="scroll", data-target="#menu", data-offset="105")
        .page_wrapper.home
            include ./header.jade

            #slider
                .slider
                    .item(style='background: url("../img/content/slider1.jpg") no-repeat top center;    background-size: cover;')
                        .wrap
                            .block_text.left_text
                                h3 Магазин
                                    span оптовых
                                    | продаж
                                a(href="#") Подробнее


                    .item(style='background: url("../img/content/slider2.jpg") no-repeat top center;    background-size: cover;')
                        .wrap
                            .block_text
                                h3 Зарегистрируйтесь и получите цены от производителя!
                                a(href="#") зарегистрироваться
                    .item(style='background: url("../img/content/slider3.jpg") no-repeat top center;    background-size: cover;')
                        .wrap
                            .block_text
                                h3 Закажите звонок и наш менеджер с вами свяжется
                                a(href="#") заказать звонок
            .container
                .wrap
                    .about
                        h3 О нашей компании
                        .text_holder
                            p Торговый Дом ZHIRROM предлагает Вам головные уборы и аксессуары для детей , женщин и мужчин оптом , по цене производителя. Береты,шапки, колпаки , чалмы, кепки, пилотки, капюшоны, снуды , перекрутки , шарфы из Италии и Индии, туники из французского шифона. Головные уборы оптом с декором из меха кролика, песца, теленка, норки, чернобурки и енота. Шапки изготавливаются исключительно из итальянского сырья высшего качества.
                            p Купить оптом Вы можете у нас в интернет-магазине головных уборов и аксессуаров ZHIRROM. Мы поможем подобрать и всегда проконсультируем какие модели головных уборов лучше всего подойдут именно для Вас.
                            p С Уважением, команда ZHIRROM

                        .advantages_holder
                            ul
                                li
                                    h4
                                        span 01
                                        | Низкие цены
                                    p.text.
                                        У нас не просто оптовые цены , а цены
                                          самих поставщиков.
                                li
                                    h4
                                        span 02
                                        | Качество и оперативность
                                    p.text.
                                        Наша команда работает оперативно и
                                        качественно, Вы получите только то что
                                        заказывали и в максимально короткие
                                        сроки.
                                li
                                    h4
                                        span 03
                                        | Узнайте о новинках первыми
                                    p.text.
                                        Подписавшись на наши новости Вы первые
                                        получаете эксклюзивный доступ к
                                        особенным моделям.
                                li
                                    h4
                                        span 04
                                        | Первый заказ
                                    p.text.
                                        Ваш первый заказ всего от 10.000 руб.

                #faq
                    .wrap
                        h3 Задать вопрос
                        .block_text
                            h4 Связаться с нами
                            p.text Задача организации, в особенности же реализация намеченных плановых заданий позволяет выполнять важные задания.
                            a(href="#") написать



                #block_info
                    .wrap
                        h3 Полезная информация
                        .block_article
                            .item
                                .img-holder
                                    a(href="#")
                                        img(src="img/content/img.jpg")
                                h4 Название статьи один
                                .data January 23 / 2016
                                .text.
                                    Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет
                                    оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянный.
                                a.readmore(href="#") читать больше


                            .item
                                .img-holder
                                    a(href="#")
                                        img(src="img/content/img.jpg")
                                h4 Название статьи один
                                .data January 23 / 2016
                                .text.
                                    Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет
                                    оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянный.
                                a.readmore(href="#") читать больше

                        .block_order_info
                           h4 Как сделать заказ
                           ul
                                li
                                    .img-holder
                                        img(src="img/icons/icin_order1.png")
                                    | Выбрать товар
                                li
                                    .img-holder
                                        img(src="img/icons/icin_order2.png")
                                    | Добавить в корзину
                                li
                                    .img-holder
                                        img(src="img/icons/icin_order3.png")
                                    | Оплатить товар
                                li
                                    .img-holder
                                        img(src="img/icons/icin_order4.png")
                                    | Получите Вашу покупку


                           h4 Новый заголовок
                           .text
                                p - Зарегистрироваться на сайте как оптовый покупатель.
                                p - Ваш первый заказ должен составлять не менее 10 единиц
                                p - На Ваш e-mail придёт счёт на оплату с накладной


            #overlay
            include ./footer.jade



