doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home
            include ./header.jade

            #slider
                .slider
                    .item(style='background: url("../img/content/slider4.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text.left_text
                                h3 Магазин
                                    span оптовых
                                    | продаж
                                //a(href="catalog.html") Подробнее


                    .item(style='background: url("../img/content/slider2.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text
                                h3 Зарегистрируйтесь и получите цены от производителя!
                                a(href="registration.html") зарегистрироваться
                    .item(style='background: url("../img/content/slider3.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text
                                h3 Закажите звонок и наш менеджер с вами свяжется
                                a.open_modal(href="#call_back") заказать звонок
            .container
                .wrap
                    .product_new
                        h3 Новинки и распродажа
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                        .tabs
                                .tabs-menu
                                    ul.nav.nav-tabs
                                        li.active(href="#new_product" data-toggle="tab") Новинки
                                        li(href="#sale_product" data-toggle="tab") Распродажа
                                       

                                .tab-content
                                    .tab-pane.active#new_product
                                        .products.list_items

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price

                                                a.asking_price(href="registration.html") узнать цену

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                        label.new
                                                            img(src="img/icons/new.png" title="New", alt="New")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.


                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                        label.sale
                                                            img(src="img/icons/sale.png" title="sale", alt="sale")
                                                        label.sell-out распродажа
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.
                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                        label.sale-procent
                                                            img(src="img/icons/sale-procent.png" title="sale", alt="sale")
                                                            span -15%
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.


                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.
                                    .tab-pane#sale_product
                                        .products.list_items

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price

                                                a.asking_price(href="registration.html") узнать цену

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                       
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.


                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                        label.sale
                                                            img(src="img/icons/sale.png" title="sale", alt="sale")
                                                        label.sell-out распродажа
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.
                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                        label.sale-procent
                                                            img(src="img/icons/sale-procent.png" title="sale", alt="sale")
                                                            span -15%
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.


                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.

                                            .block_product.item
                                                a(href="product.html")
                                                    .img_holder
                                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                                    .block_text
                                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                                        .block_price
                                                            .cart
                                                            price.price 550
                                                                span руб.


                       

                    .block_advantages
                        h3 Наши преимущества
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                        .list_advantages.list_items.short
                            .item
                                .flipper
                                    .front
                                        .img-holder
                                            img(src="img/content/icon-advantages-1.png", alt="Индивидуальный подход к каждому клиенту")
                                        .name Индивидуальный подход к каждому клиенту

                                    .back
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .
                            .item
                                .flipper
                                    .front

                                        .img-holder
                                            img(src="img/content/icon-advantages-2.png", alt="Головные уборы по ценам производителя от ведущих российских торговых марок")
                                        .name Головные уборы по ценам производителя от ведущих российских торговых марок

                                    .back
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                        .img-holder
                                            img(src="img/content/icon-advantages-3.png", alt="Первая закупка - от 20 тыс . рублей.")
                                        .name Первая закупка - от 20 тыс . рублей.

                                    .back
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                        .img-holder
                                            img(src="img/content/icon-advantages-4.png", alt="Только высококачественная продукция")
                                        .name Только высококачественная продукция

                                    .back
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                        .img-holder
                                            img(src="img/content/icon-advantages-5.png", alt="Постоянное обновление ассортимента")
                                        .name Постоянное обновление ассортимента

                                    .back
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                        .img-holder
                                            img(src="img/content/icon-advantages-6.png", alt="Использование итальянской пряжи наивысшего качества")
                                        .name Использование итальянской пряжи наивысшего качества

                                    .back
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                        .img-holder
                                            img(src="img/content/icon-advantages-7.png", alt="23 года на рынке головных уборов")
                                        .name 23 года на рынке головных уборов

                                    .back
                                        .content-advantage
                                            div

                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .

                            .item
                                .flipper
                                    .front

                                        .img-holder
                                            img(src="img/content/icon-advantages-8.png", alt="Быстрая доставка")
                                        .name Быстрая доставка

                                    .back
                                        .content-advantage
                                            div
                                                .desc Ассортимент ТД ZHIRROM находится в постоянном обновлении: новинки появляются не только в начале , но и на протяжении всего сезона. Это позволит Вам  также расширить Ваш ассортимент как последними новинками сезона, так и дополнять моделями, которые пользуются спросом весь сезон .


                        .buttom_more показать еще 

                        


                    .list_category2
                        h3 Категории товаров
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                        .categories

                            .item-category.cf
                                a(href="list_product.html")
                                    .img-holder
                                        img(src="img/content/men.jpg", alt="Мужчинам")
                                    .name Мужчинам


                            .item-category.cf
                                a(href="list_product.html")
                                    .img-holder
                                        img(src="img/content/category3.jpg", alt="Женщинам")

                                    .name Женщинам

                            .item-category.cf
                                a(href="list_product.html")
                                    .img-holder
                                        img(src="img/content/child.jpg", alt="Детям")

                                    .name Детям


                            .item-category.cf
                                a(href="list_product.html")
                                    .img-holder
                                        img(src="img/content/brend.jpg", alt="Бренды")

                                    .name Бренды

                        a.download_price(href="#" target="_blank") скачать прайс

                    .block_make_order
                        h3 Как сделать заказ
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
                        
                        .block_text
                            iframe(width='940', height='470', src='https://www.youtube.com/embed/kPDnw3_1GOI', frameborder='0', allowfullscreen='')
                            p Равным образом консультация с широким активом представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Задача организации, в особенности же сложившаяся структура организации в значительной степени обуславливает создание форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.



                    .block_certificate
                        h3 Сертификат
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                        .carousel
                            .slide
                                .img-holder
                                    a.open_modal(href="#certificate")
                                        img(src="img/content/certificate.png", alt="Сертификат")
                            .slide                
                                .img-holder
                                    a.open_modal(href="#certificate")
                                        img(src="img/content/certificate.png", alt="Сертификат")
                            .slide                
                                .img-holder
                                    a.open_modal(href="#certificate")
                                        img(src="img/content/certificate.png", alt="Сертификат")
                            .slide                
                                .img-holder
                                    a.open_modal(href="#certificate")
                                        img(src="img/content/certificate.png", alt="Сертификат")                 
                           



                    .block_brands
                        h3 Наши бренды
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
                        .list_brands
                            .item
                                .img-holder
                                    img(src="img/content/brollini.png", alt="brollini")
                            .item
                                .img-holder
                                    img(src="img/content/lochicalaca.png", alt="lochicalaca")
                            .item
                                .img-holder
                                    img(src="img/content/noble.png", alt="noble")
                            .item
                                .img-holder
                                    img(src="img/content/mialt.png", alt="mialt")
                            .item
                                .img-holder
                                    img(src="img/content/daniil.png", alt="daniil")
                            .item
                                .img-holder
                                    img(src="img/content/mialt.png", alt="mialt")
                            .item
                                .img-holder
                                    img(src="img/content/daniil.png", alt="daniil")

                #block_feedback
                    .wrap
                        h3 Отзывы наших клиентов
                        .feedback_list
                            .block_feedback
                                .block_personal.cf
                                    .img_hoder
                                        img(src="img/content/avatar.jpg", alt="Светлана Зарва")
                                    .block_name
                                        .name Светлана Зарва
                                        .data 14 апреля 2016
                                .text_holder.
                                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                    В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                            .block_feedback
                                .block_personal.cf
                                    .img_hoder
                                        img(src="img/content/avatar.jpg" , alt="Светлана Зарва")
                                    .block_name
                                        .name Светлана Зарва
                                        .data 14 апреля 2016
                                .text_holder.
                                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                    В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.


                        a.link_feedback(href="feedback.html") перейти ко всем отзывам



            include ./footer.jade



