doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.home
            include ./header.jade

            #slider
                .slider
                    .item(style='background: url("../img/content/slider1.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text.left_text
                                h3 Магазин
                                    span оптовых
                                    | продаж
                                a(href="catalog.html") Подробнее


                    .item(style='background: url("../img/content/slider2.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text
                                h3 Зарегистрируйтесь и получите цены от производителя!
                                a.open_modal(href="#registration") зарегистрироваться
                    .item(style='background: url("../img/content/slider3.jpg") no-repeat top center; background-size: cover;')
                        .wrap
                            .block_text
                                h3 Закажите звонок и наш менеджер с вами свяжется
                                a.open_modal(href="#call_back") заказать звонок
            .container
                .wrap
                    .product_new
                        h3 Новинки
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                        .products.list_items
                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        //.block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        //.block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        //.block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        //.block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        //.block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        //.block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        //.block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        //.block_price
                                            .cart
                                            .price 550
                                                span руб.


                #faq
                    .wrap
                        h3 Задать вопрос
                        .block_text
                            h4 Связаться с нами
                            p.text Задача организации, в особенности же реализация намеченных плановых заданий позволяет выполнять важные задания.
                            a.open_modal(href="#contact_form") написать



                #block_info
                    .wrap
                        h3 Полезная информация
                        .block_article
                            .item
                                .img-holder
                                    a(href="#")
                                        img(src="img/content/img.jpg")
                                h4 Название статьи один
                                .data January 23 / 2016
                                .text.
                                    Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет
                                    оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянный.
                                a.readmore(href="#") читать больше


                            .item
                                .img-holder
                                    a(href="#")
                                        img(src="img/content/img.jpg")
                                h4 Название статьи один
                                .data January 23 / 2016
                                .text.
                                    Значимость этих проблем настолько очевидна, что рамки и место обучения кадров позволяет
                                    оценить значение направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянный.
                                a.readmore(href="#") читать больше

                        .block_order_info
                           h4 Как сделать заказ
                           ul
                                li
                                    .img-holder
                                        img(src="img/icons/icin_order1.png")
                                    | Выбрать товар
                                li
                                    .img-holder
                                        img(src="img/icons/icin_order2.png")
                                    | Добавить в корзину
                                li
                                    .img-holder
                                        img(src="img/icons/icin_order3.png")
                                    | Оплатить товар
                                li
                                    .img-holder
                                        img(src="img/icons/icin_order4.png")
                                    | Получите Вашу покупку


                           h4 Новый заголовок
                           .text
                                p - Зарегистрироваться на сайте как оптовый покупатель.
                                p - Ваш первый заказ должен составлять не менее 10 единиц
                                p - На Ваш e-mail придёт счёт на оплату с накладной



            include ./footer.jade



