doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.list_product
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная
                            li
                                a(href="catalog.html") Категория товаров
                            li
                                span Головные уборы

                    .list_products.cf
                        h1 Головные уборы
                        .description.
                            В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом
                            и придаст неповторимый колорит советских времен.
                        form#filter
                            .filter
                                .preview
                                    span Вид:
                                    ul
                                        li.active.preview_list
                                        li.preview_block

                                .sort_by
                                    span Сортировать как:
                                    div
                                        .active_sort От дешёвых к дорогим
                                        ul
                                            li.active От дешёвых к дорогим
                                            li От дорогих к дешёвым
                                            li Популярные
                                            li Новинки
                                .sort_by.items_page
                                    span Товаров на странице:
                                    div
                                        .active_sort 10
                                        ul
                                            li.active 10
                                            li 20
                                            li 40


                            .filter_products.cf
                                #attribute1
                                    h3 Сезон:
                                    .attribute_holder
                                        .attribute
                                            input(type="checkbox" name="option1" value="Зима" id="option1" checked)
                                            label(for="option1") Зима
                                        .attribute
                                            input(type="checkbox" name="option2" value="Зима" id="option2" )
                                            label(for="option2") Весна
                                        .attribute
                                            input(type="checkbox" name="option3" value="Зима" id="option3" )
                                            label(for="option3") Лето
                                        .attribute
                                            input(type="checkbox" name="option4" value="Зима" id="option4" )
                                            label(for="option4") Осень

                                #attribute2
                                    h3 Фасон:
                                    .attribute_holder
                                        .attribute

                                                input(type="checkbox" name="option5" value="Зима" id="option5" checked)
                                                label(for="option5") Шапка
                                        .attribute

                                                input(type="checkbox" name="option6" value="Зима" id="option6" )
                                                label(for="option6") Берет
                                        .attribute

                                                input(type="checkbox" name="option7" value="Зима" id="option7" )
                                                label(for="option7") Пилотка
                                        .attribute

                                                input(type="checkbox" name="option8" value="Зима" id="option8" )
                                                label(for="option8") Комплект
                                        .attribute

                                                input(type="checkbox" name="option9" value="Зима" id="option9" checked)
                                                label(for="option9") Чалма
                                        .attribute

                                                input(type="checkbox" name="option10" value="Зима" id="option10" )
                                                label(for="option10") Труба
                                        .attribute

                                                input(type="checkbox" name="option11" value="Зима" id="option11" )
                                                label(for="option11") Перекрутка
                                        .attribute

                                                input(type="checkbox" name="option12" value="Зима" id="option12" )
                                                label(for="option12") Косынка
                                        .attribute

                                                input(type="checkbox" name="option13" value="Зима" id="option13" )
                                                label(for="option13") Копюшон
                                        .attribute

                                                input(type="checkbox" name="option14" value="Зима" id="option14" )
                                                label(for="option14") Косынка

                                #attribute3
                                    h3 Бренды:
                                    .attribute_holder
                                        .attribute

                                                input(type="checkbox" name="option5" value="Зима" id="option5" checked)
                                                label(for="option5") София
                                        .attribute

                                                input(type="checkbox" name="option6" value="Зима" id="option6" )
                                                label(for="option6") Винта плюс
                                        .attribute

                                                input(type="checkbox" name="option7" value="Зима" id="option7" )
                                                label(for="option7") La chica loca
                                        .attribute

                                                input(type="checkbox" name="option8" value="Зима" id="option8" )
                                                label(for="option8") Lak miss
                                        .attribute

                                                input(type="checkbox" name="option9" value="Зима" id="option9" checked)
                                                label(for="option9") Ярик
                                        .attribute

                                                input(type="checkbox" name="option10" value="Зима" id="option10" )
                                                label(for="option10") Лидия
                                        .attribute

                                                input(type="checkbox" name="option11" value="Зима" id="option11" )
                                                label(for="option11") Свиридюк
                                        .attribute

                                                input(type="checkbox" name="option12" value="Зима" id="option12" )
                                                label(for="option12") M.alina


                        .products.list_items.cf
                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product.item
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            //.ias-trigger показать еще
                        .pagination
                            ul
                                li.prev
                                    a(href="#")
                                li.next
                                    a(href="#")

            include ./footer.jade



