doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.list_product
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная
                            li
                                a(href="catalog.html") Категория товаров
                            li
                                span Головные уборы
                    form#subscription2
                        h3 Подписаться на акции и скидки
                        div
                            input(type="text" placeholder="Почта:" data-validate="email")
                        //.btn.submit
                    .list_products.cf
                        h1 Головные уборы
                        .description.
                            В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом
                            и придаст неповторимый колорит советских времен.
                        form#filter
                            .filter
                                .preview
                                    span Вид:
                                    ul
                                        li.preview_list(data-value="preview_list")
                                        li.active.preview_block(data-value="preview_block")
                                    input(type="text" class="hidden"  name="preview" value="preview_block")
                                .sort_by
                                    span Сортировать как:
                                    div
                                        .active_sort От дешёвых к дорогим
                                        ul
                                            li.active(data-value="От дешёвых к дорогим") От дешёвых к дорогим
                                            li(data-value="От дорогих к дешёвым") От дорогих к дешёвым
                                            li(data-value="Популярные") Популярные
                                            li(data-value="Новинки") Новинки
                                        input(type="text" class="hidden" name="sort_by" value="От дешёвых к дорогим")
                                .sort_by.items_page
                                    span Товаров на странице:
                                    div
                                        .active_sort 10
                                        ul
                                            li.active(data-count="10") 10
                                            li(data-count="20") 20
                                            li(data-count="40") 40
                                        input(type="text" class="hidden" name="items_page" value="10")

                            input(type="text" class="hidden" id="page" name="page" value="1")




                        .products.cf.brand_pruduct
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.



                            //.ias-trigger показать еще
                            .pagination_list
                                ul
                                    li.prev
                                        a(href="#")
                                    li.next
                                        a.ias-trigger(href="#") показать еще

                                a.download_price(href="#" target="_blank") скачать прайс

            include ./footer.jade



