doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.list_product
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная
                            li
                                a(href="catalog.html") Категория товаров
                            li
                                span Головные уборы
                    form#subscription2
                        h3 Подписаться на акции и скидки
                        div
                            input(type="text" placeholder="Почта:" data-validate="email")
                        //.btn.submit

                    .list_products.cf
                        h1 Головные уборы
                        .description.
                            В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом
                            и придаст неповторимый колорит советских времен.
                        form#filter
                            .filter
                                .preview
                                    span Вид:
                                    ul
                                        li.preview_list(data-value="preview_list")
                                        li.active.preview_block(data-value="preview_block")
                                    input(type="text" class="hidden"  name="preview" value="preview_block")
                                .sort_by
                                    span Сортировать как:
                                    div
                                        .active_sort От дешёвых к дорогим
                                        ul
                                            li.active(data-value="От дешёвых к дорогим") От дешёвых к дорогим
                                            li(data-value="От дорогих к дешёвым") От дорогих к дешёвым
                                            li(data-value="Популярные") Популярные
                                            li(data-value="Новинки") Новинки
                                    input(type="text" class="hidden" name="sort_by" value="От дешёвых к дорогим")
                                .sort_by.items_page
                                    span Товаров на странице:
                                    div
                                        .active_sort 10
                                        ul
                                            li.active(data-count="10") 10
                                            li(data-count="20") 20
                                            li(data-count="40") 40
                                    input(type="text" class="hidden" name="items_page" value="10")

                            .filter_products.cf
                                h2
                                    i.fa.fa-filter
                                    | Фильтры

                                .wrap_filter
                                    #attribute1
                                        h3 Сезон:
                                        .attribute_holder
                                            .attribute
                                                input(type="checkbox" name="option1" value="Зима" id="option1" checked)
                                                label(for="option1") Зима
                                            .attribute
                                                input(type="checkbox" name="option2" value="Зима" id="option2" )
                                                label(for="option2") Весна
                                            .attribute
                                                input(type="checkbox" name="option3" value="Зима" id="option3" )
                                                label(for="option3") Лето
                                            .attribute
                                                input(type="checkbox" name="option4" value="Зима" id="option4" )
                                                label(for="option4") Осень

                                    #attribute2
                                        h3 Фасон:
                                        .attribute_holder
                                            .attribute

                                                    input(type="checkbox" name="option5" value="Зима" id="option5" checked)
                                                    label(for="option5") Шапка
                                            .attribute

                                                    input(type="checkbox" name="option6" value="Зима" id="option6" )
                                                    label(for="option6") Берет
                                            .attribute

                                                    input(type="checkbox" name="option7" value="Зима" id="option7" )
                                                    label(for="option7") Пилотка
                                            .attribute

                                                    input(type="checkbox" name="option8" value="Зима" id="option8" )
                                                    label(for="option8") Комплект
                                            .attribute

                                                    input(type="checkbox" name="option9" value="Зима" id="option9" checked)
                                                    label(for="option9") Чалма
                                            .attribute

                                                    input(type="checkbox" name="option10" value="Зима" id="option10" )
                                                    label(for="option10") Труба
                                            .attribute

                                                    input(type="checkbox" name="option11" value="Зима" id="option11" )
                                                    label(for="option11") Перекрутка
                                            .attribute

                                                    input(type="checkbox" name="option12" value="Зима" id="option12" )
                                                    label(for="option12") Косынка
                                            .attribute

                                                    input(type="checkbox" name="option13" value="Зима" id="option13" )
                                                    label(for="option13") Копюшон
                                            .attribute

                                                    input(type="checkbox" name="option14" value="Зима" id="option14" )
                                                    label(for="option14") Косынка

                                    #attribute3
                                        h3 Бренды:
                                        .attribute_holder
                                            .attribute

                                                    input(type="checkbox" name="option15" value="Зима" id="option15" checked)
                                                    label(for="option15") София
                                            .attribute

                                                    input(type="checkbox" name="option16" value="Зима" id="option16" )
                                                    label(for="option16") Винта плюс
                                            .attribute

                                                    input(type="checkbox" name="option17" value="Зима" id="option17" )
                                                    label(for="option17") La chica loca
                                            .attribute

                                                    input(type="checkbox" name="option18" value="Зима" id="option18" )
                                                    label(for="option18") Lak miss
                                            .attribute

                                                    input(type="checkbox" name="option19" value="Зима" id="option19" checked)
                                                    label(for="option19") Ярик
                                            .attribute

                                                    input(type="checkbox" name="option20" value="Зима" id="option20" )
                                                    label(for="option20") Лидия
                                            .attribute

                                                    input(type="checkbox" name="option21" value="Зима" id="option21" )
                                                    label(for="option21") Свиридюк
                                            .attribute

                                                    input(type="checkbox" name="option22" value="Зима" id="option22" )
                                                    label(for="option22") M.alina

                            input(type="text" class="hidden" id="page" name="page" value="1")




                        .products.cf
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price

                                a.asking_price(href="registration.html") узнать цену

                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            //.ias-trigger показать еще
                            .pagination_list
                                ul
                                    li.prev
                                        a(href="#")
                                    li.next
                                        a.ias-trigger(href="#") показать еще
                                a.download_price(href="#" target="_blank") скачать прайс

                    .decs_category
                        h3 Головные уборы
                        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
                        p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.

            include ./footer.jade



