doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.article.make_order_page
            include ./header.jade


            .container.cf
                .wrap

                    h1 Как сделать заказ

                    .text_holder В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
                    
                    .step_make_order.cf
                        .item.cf
                            .block_text.cf
                                label ШАГ 1
                                h4 Регистрация/Вход
                                p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей. 
                            .img-holder 
                                img(src="img/content/make_order1.png" alt="Регистрация/Вход")
                        .item.cf
                            .block_text.cf
                                label ШАГ 2
                                h4 Добавить товар в корзину
                                p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей. 
                            .img-holder 
                                img(src="img/content/make_order2.png" alt="Добавить товар в корзину")
                        .item.cf 
                            .block_text.cf
                                label ШАГ 3
                                h4 Оформить заказ
                                p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей. 
                            .img-holder 
                                img(src="img/content/make_order3.png" alt="Оформить заказ")                    
                        .item.cf 
                            .block_text.cf
                                label ШАГ 4
                                h4 Получить товар
                                p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей. 
                            .img-holder 
                                img(src="img/content/make_order4.png" alt="Получить товар")            

                    .block_video
                        h3 Видео
                        .text_holder
                            p В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
                        
                        .block_text
                            iframe(width='940', height='470', src='https://www.youtube.com/embed/kPDnw3_1GOI', frameborder='0', allowfullscreen='')
                            p Равным образом консультация с широким активом представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Задача организации, в особенности же сложившаяся структура организации в значительной степени обуславливает создание форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
                .questions_tiltle Остались вопросы
                form#questions(action="#")
                        .wrap    
                            p Ваше сообщение успешно отправлено!
                            .row-group.cf
                                div
                                    input(type="text", placeholder="Имя:", name="name", data-validate="name")
                                div
                                    input(type="text", placeholder="Почта:", name="email", data-validate="email")    
                            div
                                textarea(placeholder="Сообщение:", name="feedback", data-validate="name")
                            
                            .btn.submit Отправить


            include ./footer.jade



