doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.payment
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная

                            li
                                span Оплата и доставка
                    form#payment


                        h3 Оплата

                        .radio.cf.payments

                            div
                                input(type="radio", name="payment", value="cash", id="cash",checked="")
                                label(for="cash") Наличная оплата

                            div
                                input(type="radio", name="payment", value="cart", id="cart")
                                label(for="cart") Перевод на карту физического лица

                            div
                                input(type="radio", name="payment", value="bank_account", id="bank_account")
                                label(for="bank_account") Оплата на расчетный счет


                        h3 Доставка
                        .radio.cf.delivery

                            div
                                input(type="radio", name="delivery", value="delivery", id="delivery", checked="")
                                label(for="delivery") Самовывоз

                            div
                                input(type="radio", name="delivery", value="companies" id="companies")
                                label(for="companies")  Доставка транспортными компаниями
                            div
                                input(type="radio", name="delivery", value="post", id="post")
                                label(for="post") Почтой
                            div
                                input(type="radio", name="delivery", value="courier" id="courier")
                                label(for="courier")  Курьером

                        h3 Ваши данные
                        .form-holder
                            .wholesale_customer
                                h4 Данные оптового клиента
                                div
                                    span Название компании*
                                    input(type="text" name="company" data-validate="name")
                                div
                                    span ИНН*
                                    input(type="text" name="inn" data-validate="number")
                                //div
                                    span КПП*
                                    input(type="text" name="kpp" data-validate="number")

                                div
                                    span Телефон организации
                                    input(type="text" name="phone" data-validate="phone")
                                div
                                    span Должность*
                                    input(type="text" name="position" data-validate="name")

                            .address
                                h4 Ваш адрес доставки
                                div.short.margin20
                                    span Город / Населенный пункт*
                                    input(type="text" name="city" data-validate="name")
                                div.short
                                    span Индекс*
                                    input(type="text" name="index" data-validate="index")
                                div
                                    span Улица*
                                    input(type="text" name="street" data-validate="name")

                                div.short.margin20
                                    span Дом / Корпус*
                                    input(type="text" name="housing" data-validate="number")

                                div.short
                                    span Квартира / Офис*
                                    input(type="text" name="apartment" data-validate="number")
                                div.short.margin20
                                    span Вид перевозки
                                    select(name="delivery" data-validate="select")
                                        option(value="auto" ) Автомобильные перевозки
                                        option(value="delivery1") Вид перевозки 1
                                        option(value="delivery2") Вид перевозки 2

                                div.short
                                    span Транспортная компания
                                    select(name="delivery_compamy" data-validate="select")
                                        option(value="UPS") UPS Delivery RUS
                                        option(value="delivery_compamy1") Транспортная компания 1
                                        option(value="delivery_compamy2") Транспортная компания 2



                            .contact_details
                                h4 Ваши контактные данные
                                div
                                    span Ваше имя*
                                    input(type="text" name="name" data-validate="name")
                                div
                                    span Фамилия*
                                    input(type="text" name="surname" data-validate="name")

                                div
                                    span Контактный телефон*
                                    input(type="text" name="phone_contact" data-validate="phone")

                                div
                                    span Ваши комментарии
                                    textarea








                        .submit.btn ОФОРМИТЬ ЗАКАЗ

            include ./footer.jade



