doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.payment
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная

                            li
                                span Оплата и доставка
                    form#payment(action="#")


                        h3 Оплата

                        .radio.cf.payments

                            div
                                input(type="radio", name="payment", value="cash", id="cash", checked="")
                                label(for="cash") Наличная оплата

                            //div
                                input(type="radio", name="payment", value="cart", id="cart")
                                label(for="cart") Перевод на карту физического лица

                            div
                                input(type="radio", name="payment", value="bank_account", id="bank_account")
                                label(for="bank_account") Оплата на расчетный счет


                        h3 Доставка
                        .radio.cf.delivery

                            div
                                input(type="radio", name="delivery", value="delivery", id="delivery", checked="")
                                label(for="delivery") Самовывоз

                            div
                                input(type="radio", name="delivery", value="companies" id="companies")
                                label(for="companies")  Доставка транспортными компаниями
                            div
                                input(type="radio", name="delivery", value="post", id="post")
                                label(for="post") Почтой
                            div
                                input(type="radio", name="delivery", value="courier" id="courier")
                                label(for="courier")  Курьером

                        h3 Ваши данные
                        .form-holder
                            .wholesale_customer
                                h4 Данные оптового клиента
                                div
                                    span Название компании
                                    input(type="text" name="company" data-validate="empty")
                                div
                                    span ИНН*
                                    input(type="text" name="inn" data-validate="number")
                                div
                                    span КПП
                                    input(type="text" name="kpp" data-validate="number-default")
                                div.select_country
                                    span Страна*
                                    select(name="county")
                                        option(value="ru" ) Россия
                                        option(value="ua" selected) Украина
                                        option(value="by" ) Беларусь
                                        option(value="kz" ) Казахстан
                                div.phone_resistered
                                    span Телефон организации
                                    input(type="text" name="phone" data-validate="phone-default" class="phone_ru" style="display: none;")
                                    input(type="text" name="phone" data-validate="phone-default" class="phone_ua")
                                    input(type="text" name="phone" data-validate="phone-default" class="phone_by" style="display: none;")


                                div
                                    span Должность
                                    input(type="text" name="position" data-validate="empty")

                            .address
                                h4 Ваш адрес доставки
                                div.short.margin20
                                    span Город / Населенный пункт*
                                    input(type="text" name="city" data-validate="name")
                                div.short
                                    span Индекс
                                    input(type="text" name="index" data-validate="index")
                                div
                                    span Улица
                                    input(type="text" name="street" data-validate="empty")

                                div.short.margin20
                                    span Дом / Корпус
                                    input(type="text" name="housing" data-validate="number-default")

                                div.short
                                    span Квартира / Офис
                                    input(type="text" name="apartment" data-validate="number-default")
                                div.short.margin20
                                    span Вид перевозки
                                    input(type="text" name="delivery" data-validate="empty")


                                div.short
                                    span Транспортная компания
                                    input(type="text" name="delivery_compamy" data-validate="empty")




                            .contact_details
                                h4 Ваши контактные данные
                                div
                                    span Ваше имя*
                                    input(type="text" name="name" data-validate="name")
                                div
                                    span Фамилия*
                                    input(type="text" name="surname" data-validate="name")
                                div
                                    span E-mail*
                                    input(type="text" name="email" data-validate="email")
                                div.phone_resistered
                                    span Контактный телефон*

                                    input(type="text" name="phone_contact" data-validate="phone-default" class="phone_ru" style="display: none;")
                                    input(type="text" name="phone_contact" data-validate="phone-default" class="phone_ua")
                                    input(type="text" name="phone_contact" data-validate="phone-default" class="phone_by" style="display: none;")

                                div
                                    span Ваши комментарии
                                    textarea








                        .submit.btn ОФОРМИТЬ ЗАКАЗ

            include ./footer.jade



