doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.private_office
            include ./header.jade


            .container
                .wrap
                    h1 Личный кабинет
                    .tabs
                        .tabs-menu
                            ul.nav.nav-tabs
                                li.active( href="#history_orders" data-toggle="tab") История заказов
                                li( href="#personal_information" data-toggle="tab") Персональные данные
                                li( href="#change_password_email" data-toggle="tab") Смена пароля и E-mail

                        .tab-content
                            .tab-pane.active.cf#history_orders history_orders
                            .tab-pane.cf#personal_information
                                form#private_office
                                    .wholesale_customer
                                        h3 Данные оптового клиента
                                        div
                                            span Название компании*
                                            input(type="text" name="company" data-validate="name")
                                        div
                                            span ИНН*
                                            input(type="text" name="inn" data-validate="number")
                                        div
                                            span КПП*
                                            input(type="text" name="kpp" data-validate="number")

                                        div
                                            span Телефон организации*
                                            input(type="text" name="phone" data-validate="phone")


                                    .contact_details
                                        h3 Ваши контактные данные
                                        div
                                            span Ваше имя*
                                            input(type="text" name="name" data-validate="name")
                                        div
                                            span Фамилия*
                                            input(type="text" name="surname" data-validate="name")
                                        div
                                            span Должность*
                                            input(type="text" name="position" data-validate="name")

                                        div
                                            span Контактный телефон*
                                            input(type="text" name="phone_contact" data-validate="phone")


                                    .address
                                        h3 Ваш адрес доставки
                                        div.short.margin20
                                            span Город / Населенный пункт*
                                            input(type="text" name="city" data-validate="name")
                                        div.short
                                            span Индекс*
                                            input(type="text" name="index" data-validate="number")
                                        div
                                            span Улица*
                                            input(type="text" name="street" data-validate="name")

                                        div.short.margin20
                                            span Дом / Корпус*
                                            input(type="text" name="housing" data-validate="number")

                                        div.short
                                            span Квартира / Офис*
                                            input(type="text" name="apartment" data-validate="number")
                                        div.short.margin20
                                            span Вид перевозки
                                            select(name="delivery" data-validate="select")
                                                option(value="auto" ) Автомобильные перевозки
                                                option(value="delivery1") Вид перевозки 1
                                                option(value="delivery2") Вид перевозки 2

                                        div.short
                                            span Транспортная компания
                                            select(name="delivery_compamy" data-validate="select")
                                                option(value="UPS") UPS Delivery RUS
                                                option(value="delivery_compamy1") Транспортная компания
                                                option(value="delivery_compamy2") Транспортная компания

                                    .description
                                        p.desc_form *Все поля обязательны к заполнению
                                        p Ваши данные используются исключительно для автозаполнения форм приоформлении заказа. Это улучшает качество нашего сервиса и кпращает Вам процедуру покупки. Пожалуйста, сохраните внесенные изменения ниже.
                                        .btn.submit сохранить изменения

                            .tab-pane.cf#change_password_email change_password_email




            include ./footer.jade



