doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.private_office
            include ./header.jade


            .container
                .wrap
                    h1 Личный кабинет
                    .tabs
                        .tabs-menu
                            ul.nav.nav-tabs
                                li.active
                                    a(href="#history_orders" data-toggle="tab") История заказов
                                li
                                    a(href="#personal_information" data-toggle="tab") Персональные данные
                                li
                                    a(href="#change_password_email" data-toggle="tab") Смена пароля и E-mail

                        .tab-content
                            .tab-pane.active.cf#history_orders
                                h3 Список заказов пуст
                                .table_order
                                    .row
                                        div.number Номер заказа
                                        div.data Дата
                                        div.quantity Количество
                                        div.sum Сумма
                                        div.status Состояние
                                    .row
                                        div.number № 123658914
                                        div.data 9 июня 2016 г.
                                        div.quantity 55
                                        div.sum 100 356 руб.
                                        div.status Выполнен
                                        div.open
                                            span.show Посмотреть заказ
                                            span.hide Свернуть
                                        .order_list
                                            .table_order
                                                .row
                                                    div.product Товар

                                                    div.article Артикул
                                                    div.color Цвет
                                                    div.price Цена
                                                    div.quantity Количество
                                                form.order(action="#")
                                                    div.product
                                                        .img-holder
                                                            img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                        div
                                                            a(href="product.html") Повязка CHELSI
                                                            span Бренд: La chica loca
                                                    div.article 17.458.18K
                                                    div.color Белый
                                                    div.price
                                                        price 2536 руб.
                                                    div.quantity 15 шт.
                                                    input(type="hidden" value="15" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину


                                                form.order(action="#")
                                                    div.product
                                                        .img-holder
                                                            img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                        div
                                                            a(href="product.html") Повязка CHELSI
                                                            span Бренд: La chica loca
                                                    div.article 17.458.18K
                                                    div.color Белый
                                                    div.price
                                                        price 2536 руб.
                                                    div.quantity 120 шт.
                                                    input(type="hidden" value="120" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину
                                                form.order(action="#")
                                                    div.product
                                                        .img-holder
                                                            img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                        div
                                                            a(href="product.html") Повязка CHELSI
                                                            span Бренд: La chica loca
                                                    div.article 17.458.18K
                                                    div.color Белый
                                                    div.price
                                                        price 2536 руб.
                                                    div.quantity 12 шт.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину






                                    .row
                                        div.number № 123628914
                                        div.data 8 мая 2016 г.
                                        div.quantity 55
                                        div.sum 100 356 руб.
                                        div.status Выполнен
                                        div.open
                                            span.show Посмотреть заказ
                                            span.hide Свернуть
                                        .order_list
                                            .table_order
                                                .row
                                                    div.product Товар

                                                    div.article Артикул
                                                    div.color Цвет
                                                    div.price Цена
                                                    div.quantity Количество
                                                form.order(action="#")
                                                    div.product
                                                        .img-holder
                                                            img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                        div
                                                            a(href="product.html") Повязка CHELSI
                                                            span Бренд: La chica loca
                                                    div.article 17.458.18K
                                                    div.color Белый
                                                    div.price 2536 руб.
                                                    div.quantity 12 шт.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину

                                                form.order(action="#")
                                                    div.product
                                                        .img-holder
                                                            img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                        div
                                                            a(href="product.html") Повязка CHELSI
                                                            span Бренд: La chica loca
                                                    div.article 17.458.18K
                                                    div.color Белый
                                                    div.price
                                                        price 2536 руб.
                                                    div.quantity 12 шт.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину
                                                form.order(action="#")
                                                    div.product
                                                        .img-holder
                                                            img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                        div
                                                            a(href="product.html") Повязка CHELSI
                                                            span Бренд: La chica loca
                                                    div.article 17.458.18K
                                                    div.color Белый
                                                    div.price
                                                        price 2536 руб.
                                                    div.quantity 12 шт.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину


                                    .row
                                        div.number № 156658914
                                        div.data 23 апреля 2016 г.
                                        div.quantity 55
                                        div.sum 100 356 руб.
                                        div.status Выполнен
                                        div.open
                                            span.show Посмотреть заказ
                                            span.hide Свернуть
                                        .order_list
                                            .table_order
                                                .row
                                                    div.product Товар

                                                    div.article Артикул
                                                    div.color Цвет
                                                    div.price Цена
                                                    div.quantity Количество
                                                form.order(action="#")
                                                    div.product
                                                        .img-holder
                                                            img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                        div
                                                            a(href="product.html") Повязка CHELSI
                                                            span Бренд: La chica loca
                                                    div.article 17.458.18K
                                                    div.color Белый
                                                    div.price
                                                        price 2536 руб.
                                                    div.quantity 12 шт.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину

                                                form.order(action="#")
                                                    div.product
                                                        .img-holder
                                                            img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                        div
                                                            a(href="product.html") Повязка CHELSI
                                                            span Бренд: La chica loca
                                                    div.article 17.458.18K
                                                    div.color Белый
                                                    div.price
                                                        price 2536 руб.
                                                    div.quantity 12 шт.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину
                                                form.order(action="#")
                                                    div.product
                                                        .img-holder
                                                            img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                        div
                                                            a(href="product.html") Повязка CHELSI
                                                            span Бренд: La chica loca
                                                    div.article 17.458.18K
                                                    div.color Белый
                                                    div.price
                                                        price 2536 руб.
                                                    div.quantity 12 шт.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину



                                .table_order.mobile

                                    .row
                                        .order-info
                                            div
                                                .name Номер заказа:
                                                .value № 123658914
                                            div
                                                .name Дата:
                                                .value 9 июня 2016 г.
                                            div
                                                .name Количество:
                                                .value 55
                                            div
                                                .name Сумма:
                                                .value 100 356 руб.
                                            div
                                                .name Состояние:
                                                .value Выполнен
                                            div.open
                                                span.show Посмотреть заказ
                                                span.hide Свернуть
                                        .order_list
                                            form.order(action="#")
                                                div.product-img
                                                    .img-holder
                                                        img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                div.product-info
                                                    div
                                                        a(href="product.html") Повязка CHELSI
                                                    div La chica loca
                                                    div.article 17.458.18K
                                                    div
                                                        .name Цвет:
                                                        .value Белый

                                                    div
                                                        .name Количество:
                                                        .value 12 шт.
                                                    div.price
                                                        price 2536 руб.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину
                                            form.order(action="#")
                                                div.product-img
                                                    .img-holder
                                                        img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                div.product-info
                                                    div
                                                        a(href="product.html") Повязка CHELSI
                                                    div La chica loca
                                                    div.article 17.458.18K
                                                    div
                                                        .name Цвет:
                                                        .value Белый

                                                    div
                                                        .name Количество:
                                                        .value 12 шт.
                                                    div.price
                                                        price 2536 руб.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину
                                            form.order(action="#")
                                                div.product-img
                                                    .img-holder
                                                        img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                div.product-info
                                                    div
                                                        a(href="product.html") Повязка CHELSI
                                                    div La chica loca
                                                    div.article 17.458.18K
                                                    div
                                                        .name Цвет:
                                                        .value Белый

                                                    div
                                                        .name Количество:
                                                        .value 12 шт.
                                                    div.price
                                                        price 2536 руб.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину




                                    .row
                                        .order-info
                                            div
                                                .name Номер заказа:
                                                .value № 123658914
                                            div
                                                .name Дата:
                                                .value 8 мая 2016 г.
                                            div
                                                .name Количество:
                                                .value 55
                                            div
                                                .name Сумма:
                                                .value 100 356 руб.
                                            div
                                                .name Состояние:
                                                .value Выполнен
                                            div.open
                                                span.show Посмотреть заказ
                                                span.hide Свернуть

                                        .order_list
                                            form.order(action="#")
                                                div.product-img
                                                    .img-holder
                                                        img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                div.product-info
                                                    div
                                                        a(href="product.html") Повязка CHELSI
                                                    div La chica loca
                                                    div.article 17.458.18K
                                                    div
                                                        .name Цвет:
                                                        .value Белый

                                                    div
                                                        .name Количество:
                                                        .value 12 шт.
                                                    div.price
                                                        price 2536 руб.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину
                                            form.order(action="#")
                                                div.product-img
                                                    .img-holder
                                                        img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                div.product-info
                                                    div
                                                        a(href="product.html") Повязка CHELSI
                                                    div La chica loca
                                                    div.article 17.458.18K
                                                    div
                                                        .name Цвет:
                                                        .value Белый

                                                    div
                                                        .name Количество:
                                                        .value 12 шт.
                                                    div.price
                                                        price 2536 руб.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину
                                            form.order(action="#")
                                                div.product-img
                                                    .img-holder
                                                        img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                div.product-info
                                                    div
                                                        a(href="product.html") Повязка CHELSI
                                                    div La chica loca
                                                    div.article 17.458.18K
                                                    div
                                                        .name Цвет:
                                                        .value Белый

                                                    div
                                                        .name Количество:
                                                        .value 12 шт.
                                                    div.price
                                                        price 2536 руб.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину



                                    .row
                                        .order-info
                                            div
                                                .name Номер заказа:
                                                .value № 123658914
                                            div
                                                .name Дата:
                                                .value 23 апреля 2016 г.
                                            div
                                                .name Количество:
                                                .value 55
                                            div
                                                .name Сумма:
                                                .value 100 356 руб.
                                            div
                                                .name Состояние:
                                                .value Выполнен

                                            div.open
                                                span.show Посмотреть заказ
                                                span.hide Свернуть
                                        .order_list
                                            form.order(action="#")
                                                div.product-img
                                                    .img-holder
                                                        img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                div.product-info
                                                    div
                                                        a(href="product.html") Повязка CHELSI
                                                    div La chica loca
                                                    div.article 17.458.18K
                                                    div
                                                        .name Цвет:
                                                        .value Белый

                                                    div
                                                        .name Количество:
                                                        .value 12 шт.
                                                    div.price
                                                        price 2536 руб.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину
                                            form.order(action="#")
                                                div.product-img
                                                    .img-holder
                                                        img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                div.product-info
                                                    div
                                                        a(href="product.html") Повязка CHELSI
                                                    div La chica loca
                                                    div.article 17.458.18K
                                                    div
                                                        .name Цвет:
                                                        .value Белый

                                                    div
                                                        .name Количество:
                                                        .value 12 шт.
                                                    div.price
                                                        price 2536 руб.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину
                                            form.order(action="#")
                                                div.product-img
                                                    .img-holder
                                                        img(src="img/content/product2.jpg", alt="Повязка CHELSI" )
                                                div.product-info
                                                    div
                                                        a(href="product.html") Повязка CHELSI
                                                    div La chica loca
                                                    div.article 17.458.18K
                                                    div
                                                        .name Цвет:
                                                        .value Белый

                                                    div
                                                        .name Количество:
                                                        .value 12 шт.
                                                    div.price
                                                        price 2536 руб.
                                                    input(type="hidden" value="12" name="quantity")
                                                    .submit.btn.repeat_order.open_modal(href="#add_cart") Добавить в корзину








                            .tab-pane.cf#personal_information
                                form#private_office(action="#")
                                    .wholesale_customer
                                        h3 Данные оптового клиента
                                        div
                                            span Название компании*
                                            input(type="text" name="company" data-validate="name")
                                        div
                                            span ИНН*
                                            input(type="text" name="inn" data-validate="number")
                                        //div
                                            span КПП*
                                            input(type="text" name="kpp" data-validate="number")

                                        div
                                            span Телефон организации
                                            input(type="text" name="phone" data-validate="phone-default")
                                        div
                                           span Должность*
                                           input(type="text" name="position" data-validate="name")

                                    .contact_details
                                        h3 Ваши контактные данные
                                        div
                                            span Ваше имя*
                                            input(type="text" name="name" data-validate="name")
                                        div
                                            span Фамилия*
                                            input(type="text" name="surname" data-validate="name")

                                        div
                                            span Дата в формате ДД-ММ-ГГГГ
                                            input(type="text" name="data" data-validate="data" placeholder="ДД-ММ-ГГГГ")
                                        div
                                            span Контактный телефон*
                                            input(type="text" name="phone_contact" data-validate="phone")


                                    .address
                                        h3 Ваш адрес доставки
                                        div.short.margin20
                                            span Город / Населенный пункт*
                                            input(type="text" name="city" data-validate="name")
                                        div.short
                                            span Индекс*
                                            input(type="text" name="index" data-validate="index")
                                        div
                                            span Улица*
                                            input(type="text" name="street" data-validate="name")

                                        div.short.margin20
                                            span Дом / Корпус*
                                            input(type="text" name="housing" data-validate="number")

                                        div.short
                                            span Квартира / Офис*
                                            input(type="text" name="apartment" data-validate="number")
                                        div.short.margin20
                                            span Вид перевозки
                                            select(name="delivery" data-validate="select")
                                                option(value="auto" ) Автомобильные перевозки
                                                option(value="delivery1") Вид перевозки 1
                                                option(value="delivery2") Вид перевозки 2

                                        div.short
                                            span Транспортная компания
                                            select(name="delivery_compamy" data-validate="select")
                                                option(value="UPS") UPS Delivery RUS
                                                option(value="delivery_compamy1") Транспортная компания 1
                                                option(value="delivery_compamy2") Транспортная компания 2

                                    .description
                                        p.desc_form *Все поля обязательны к заполнению
                                        p Ваши данные используются исключительно для автозаполнения форм приоформлении заказа. Это улучшает качество нашего сервиса и кпращает Вам процедуру покупки. Пожалуйста, сохраните внесенные изменения ниже.
                                        .btn.submit сохранить изменения

                            .tab-pane.cf#change_password_email
                                form#change_password(action="#")

                                        h3 Изминение пароля
                                        div
                                            input(type="password" name="old_pass" data-validate="password" placeholder="*Старый пароль:")
                                        div
                                            input(type="password" name="pass" data-validate="password" placeholder="*Новый пароль:")
                                        div
                                            input(type="password" name="repeat_pass" data-validate="password" placeholder="*Повторить пароль:")

                                        .btn.submit отправить

                                form#change_email(action="#")

                                        h3 Изминение E-mail
                                        div
                                            input(type="password" name="current_pass" data-validate="password" placeholder="*Текущий пароль:")
                                        div
                                            input(type="text" name="email" data-validate="email" placeholder="*Новый e-mail:")
                                        div
                                            input(type="text" name="repeat_email" data-validate="email" placeholder="*Повторить e-mail:")
                                        div.short *Все поля обязательны к заполнению
                                        .btn.submit отправить





            include ./footer.jade
            #add_cart.modal_div

                .modal_close
                form(action="#")

                    h3 Выберите количество

                    .form-holder


                        div
                            input(type="number" min="0" value="12" name="quantity" data-validate="quantity" autofocus="")


                        .btn.submit.open_modal(href="#successful_order") ДОБАВИТЬ В КОРЗИНУ


            #successful_order.modal_div

                .modal_close
                .wrap_succesful_order


                    .img-holder
                        img(src="img/icons/like.png" alt="Товар успешно добавлен в корзину")
                    p Товар успешно добавлен в корзину




