doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.productfull
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="#") Главная
                            li
                                a(href="#") Категория товаров
                            li
                                a(href="#") Головные уборы
                            li
                                span Повязка Chelsi

                    .product_info
                        .image
                            .slider_product
                                li
                                    img(src="img/content/img_product.jpg" )

                                li
                                    img(src="img/content/img_product.jpg" )

                                li
                                    img(src="img/content/img_product.jpg" )
                            #bx-pager
                                    a(data-slide-index='0', href='')
                                        img(src="img/content/product4.jpg" )

                                    a(data-slide-index='1', href='')
                                        img(src="img/content/product4.jpg" )

                                    a(data-slide-index='2', href='')
                                        img(src="img/content/product4.jpg" )

                        .block_info
                                    form#product_add_cart
                                        .code_product Артикул: CHELSI 5017
                                        .name_product Повязка CHELSI
                                        .block_price
                                            .name_price Оптовая цена
                                            .price 1199 руб.
                                            .description_price Чтобы узнать розничную цену свяжитесь с нашим менеджером
                                        .submit.btn В КОРЗИНУ
                                        .block_characteristics
                                            div
                                                .name Бренд:
                                                .value Lak miss
                                            div
                                                .name Размер:
                                                .value
                                                    .active_size 42-44
                                                    ul.select_size
                                                        li.active 42-44
                                                        li 46-48
                                                        li 50-52

                                            div
                                                .name Cостав:
                                                .value Хлопок 90%
                                            div
                                                .name Цвет:
                                                .value
                                                    .active_color Фиолетовый
                                                    ul.select_color
                                                        li.active
                                                            .img_hoder
                                                                img(src="img/content/product2.jpg" )
                                                            .name_color Фиолетовый
                                                        li
                                                            .img_hoder
                                                                img(src="img/content/product4.jpg" )
                                                            .name_color Белый
                                                        li
                                                            .img_hoder
                                                                img(src="img/content/product.jpg" )
                                                            .name_color Розовый
                                                        li
                                                            .img_hoder
                                                                img(src="img/content/product3.jpg" )
                                                            .name_color Серый

                                        .description_product
                                            span Описание товара:
                                            | В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.



                .feedback
                    .wrap
                        h3 Отзывы наших клиентов
                        .feedback_list
                            .block_feedback
                                .block_personal.cf
                                    .img_hoder
                                        img(src="img/content/avatar.jpg" )
                                    .block_name
                                        .name Светлана Зарва
                                        .data 14 апреля 2016
                                .text_holder.
                                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                    В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                            .block_feedback
                                .block_personal.cf
                                    .img_hoder
                                        img(src="img/content/avatar.jpg" )
                                    .block_name
                                        .name Светлана Зарва
                                        .data 14 апреля 2016
                                .text_holder.
                                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                    В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.



                        form#feedback
                            h4 Оставить отзыв
                            div
                                textarea(placeholder="Текст:", name="feedback", data-validate="name")
                            .btn.submit Отправить



                .related_products
                    h3 С этим носят
                    .wrap
                        .products.cf
                            .block_product
                                a(href="#")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product
                                a(href="#")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product
                                a(href="#")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product
                                a(href="#")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


            include ./footer.jade



