doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.productfull
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="#") Главная
                            li
                                a(href="#") Категория товаров
                            li
                                a(href="#") Головные уборы
                            li
                                span Повязка Chelsi

            include ./footer.jade



