doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.productfull
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="#") Главная
                            li
                                a(href="#") Категория товаров
                            li
                                a(href="#") Головные уборы
                            li
                                span Повязка Chelsi

                    .product_info
                        .image.cf
                            .slider_filter_color.active(data-filter="pink", data-class="slider_product1")
                                #slider_product1
                                    div
                                        img(src="img/content/product1.jpg", data-zoom-image="img/content/imgfull_product1.jpg", class="product-zoom0" )

                                    div
                                        img(src="img/content/product2.jpg", data-zoom-image="img/content/imgfull_product2.jpg",class="product-zoom1"  )

                                    div
                                        img(src="img/content/product3.jpg", data-zoom-image="img/content/imgfull_product3.jpg", class="product-zoom2"  )


                                #bx-pager1
                                        a(data-slide-index='0', href='', data-class="product-zoom0")
                                            img(src="img/content/product1.jpg" )

                                        a(data-slide-index='1', href='', data-class="product-zoom1" )
                                            img(src="img/content/product2.jpg" )

                                        a(data-slide-index='2', href='', data-class="product-zoom2")
                                            img(src="img/content/product3.jpg" )

                            .slider_filter_color(data-filter="purple", data-class="slider_product2")
                                #slider_product2
                                    div
                                        img(src="img/content/product2.jpg", data-zoom-image="img/content/imgfull_product2.jpg",class="product-zoom4"  )

                                    div
                                        img(src="img/content/product2.jpg", data-zoom-image="img/content/imgfull_product2.jpg",class="product-zoom5"  )

                                    div
                                        img(src="img/content/product2.jpg", data-zoom-image="img/content/imgfull_product2.jpg",class="product-zoom6"  )

                                #bx-pager2
                                    a(data-slide-index='0', href='', data-class="product-zoom4")
                                        img(src="img/content/product2.jpg" )

                                    a(data-slide-index='1', href='', data-class="product-zoom5")
                                        img(src="img/content/product2.jpg" )

                                    a(data-slide-index='2', href='', data-class="product-zoom6")
                                        img(src="img/content/product2.jpg" )
                            .slider_filter_color(data-filter="blue", data-class="slider_product3")
                                #slider_product3
                                    div
                                        img(src="img/content/product3.jpg", data-zoom-image="img/content/imgfull_product3.jpg",class="product-zoom7"  )

                                    div
                                        img(src="img/content/product2.jpg", data-zoom-image="img/content/imgfull_product2.jpg",class="product-zoom8"  )

                                    div
                                        img(src="img/content/product3.jpg", data-zoom-image="img/content/imgfull_product3.jpg",class="product-zoom9"  )

                                #bx-pager3
                                    a(data-slide-index='0', href='', data-class="product-zoom7")
                                        img(src="img/content/product3.jpg" )

                                    a(data-slide-index='1', href='', data-class="product-zoom8")
                                        img(src="img/content/product2.jpg" )

                                    a(data-slide-index='2', href='', data-class="product-zoom9")
                                        img(src="img/content/product3.jpg" )


                        .block_info
                                    form#product_add_cart
                                        .code_product Артикул: CHELSI 5017
                                        .name_product Повязка CHELSI
                                        .block_price
                                            .name_price Оптовая цена
                                            .price 1199 руб.
                                            .description_price Чтобы узнать розничную цену свяжитесь с нашим менеджером
                                        .submit.btn В КОРЗИНУ
                                        .block_characteristics
                                            div
                                                .name Бренд:
                                                .value Lak miss
                                            div
                                                .name Размер:
                                                .value
                                                    .active_size 42-44
                                                    ul.select_size
                                                        li.active 42-44
                                                        li 46-48
                                                        li 50-52

                                            div
                                                .name Cостав:
                                                .value Хлопок 90%
                                            div
                                                .name Цвет:
                                                .value
                                                    .active_color Белый
                                                    ul.select_color
                                                        li.active(data-filter="pink")
                                                            .img_hoder
                                                                img(src="img/content/product1.jpg" )
                                                            .name_color Розовый

                                                        li(data-filter="purple")
                                                            .img_hoder
                                                                img(src="img/content/product2.jpg" )
                                                            .name_color Фиолетовый
                                                        li(data-filter="blue")
                                                            .img_hoder
                                                                img(src="img/content/product3.jpg" )
                                                            .name_color Синий



                                        .description_product
                                            span Описание товара:
                                            | В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.



                .feedback
                    .wrap
                        h3 Отзывы наших клиентов
                        .feedback_list
                            .block_feedback
                                .block_personal.cf
                                    .img_hoder
                                        img(src="img/content/avatar.jpg" )
                                    .block_name
                                        .name Светлана Зарва
                                        .data 14 апреля 2016
                                .text_holder.
                                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                    В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

                            .block_feedback
                                .block_personal.cf
                                    .img_hoder
                                        img(src="img/content/avatar.jpg" )
                                    .block_name
                                        .name Светлана Зарва
                                        .data 14 апреля 2016
                                .text_holder.
                                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст.
                                    В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.



                        form#feedback
                            h4 Оставить отзыв
                            div
                                textarea(placeholder="Текст:", name="feedback", data-validate="name")
                            .btn.submit Отправить



                .related_products
                    h3 С этим носят
                    .wrap
                        .products.cf
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.

                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            .price 550
                                                span руб.


            include ./footer.jade



