doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.productfull
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная
                            li
                                a(href="catalog.html") Категория товаров
                            li
                                a(href="list_product.html") Головные уборы
                            li
                                span Повязка Chelsi

                    .product_info
                        .image.cf
                            .slider_filter_color
                                #slider_product1
                                    div
                                        img(src="img/content/product1.jpg", data-zoom-image="img/content/imgfull_product1.jpg", class="product-zoom0", alt="Повязка Chelsi" )

                                    div
                                        img(src="img/content/product2.jpg", data-zoom-image="img/content/imgfull_product2.jpg",class="product-zoom1", alt="Повязка Chelsi"  )

                                    div
                                        img(src="img/content/product3.jpg", data-zoom-image="img/content/imgfull_product3.jpg", class="product-zoom2" , alt="Повязка Chelsi" )


                                #bx-pager1
                                        a(data-slide-index='0', href='img/content/product1.jpg', data-class="product-zoom0")
                                            img(src="img/content/product1.jpg" , alt="Повязка Chelsi")

                                        a(data-slide-index='1', href='img/content/product2.jpg', data-class="product-zoom1" )
                                            img(src="img/content/product2.jpg" , alt="Повязка Chelsi")

                                        a(data-slide-index='2', href='img/content/product3.jpg', data-class="product-zoom2")
                                            img(src="img/content/product3.jpg" , alt="Повязка Chelsi")




                        .block_info
                            form#product_add_cart(action="#")
                                .code_product Артикул: CHELSI 5017
                                .name_product Повязка CHELSI
                                .name_price Чтобы узнать розничную цену свяжитесь с нашим менеджером
                                //a.asking_price(href="#") узнать цену
                                .block_price.width50
                                    preice 1199 руб.

                                .quantity
                                    input(type="number", min="0", value="1", name="quantity", data-validate="quantity" )
                                .submit.btn.width50 В КОРЗИНУ
                                .block_color
                                    a.active(href="#" style="background: #000")
                                    a(href="#" style="background: #fff")
                                    a(href="#" style="background: #fff")
                                    a(href="#" style="background: #fff")
                                    a(href="#" style="background: #fff")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                    a(href="#" style="background: #000")
                                .block_characteristics
                                    div.width50
                                        .name Бренд:
                                        .value Lak miss
                                    div.width50
                                        .name Цвет:
                                        .value Белый

                                    div.width50
                                        .name Тип:
                                        .value Шапка зимняя



                                    div.width50
                                        .name Cостав:
                                        .value Хлопок 90%




                                    .description_product
                                        span Описание товара:
                                        | Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.

                                    div
                                        .name Размер:

                                        select(name="size" data-validate="select")
                                            option(value="42-44" ) 42-44
                                            option(value="46-48") 46-48
                                            option(value="50-52") 50-52




                        form(class="cf opt_order standart_form" )
                            .wholesale_order
                                h3 Оптовый заказ
                                .form
                                    .table_order.js-table-desktop
                                        .row
                                            .article Артикул
                                            .color Цвет
                                            .item-price Цена за единицу
                                            .quantity Количество
                                            div Сумма по товару

                                        .row
                                            .article Паула w
                                            .color
                                                .img-holder
                                                    img(src="img/content/product1.jpg" alt="Malina шапка Паула")
                                                span Белый
                                                input(type="hidden" name="color_1126" value="1")
                                                input(type="hidden" name="1126" value="1126")
                                                input(type="hidden" name="brand_1126" value="5")
                                            .parameter
                                                .row-item
                                                    .item-price(data-item-id="1126")
                                                        span.title_mobile Цена за единицу
                                                        span 1350
                                                        input(type="hidden" name="price_1126" value="1350.00000")

                                                    .quantity
                                                        input(type="number" min="0" max="7" value="0" name="quantity_1126" data-validate="quantity" data-item-id="1126")
                                                        button(class="update" data-request-update="'opt_item' : '.standart_form'")

                                                    div(class="item-price" data-item-id="1126")
                                                        span.title_mobile Сумма по товару
                                                        span 0
                                                        input(type="hidden" name="price_1126" value="1350.00000")

                                        .row
                                            .article Паула w
                                            .color
                                                .img-holder
                                                    img(src="img/content/product1.jpg" alt="Malina шапка Паула")
                                                span Белый
                                                input(type="hidden" name="color_1126" value="1")
                                                input(type="hidden" name="1126" value="1126")
                                                input(type="hidden" name="brand_1126" value="5")

                                            .parameter
                                                .row-item
                                                    .item-price
                                                        span.title_mobile Цена за единицу
                                                        span S
                                                        span(data-item-id="10_1") 1250
                                                        input(type="hidden" name="size_10_1" value="1")
                                                    .quantity
                                                        input(type="number" min="0" max="7" value="0" name="quantity_1126" data-validate="quantity" data-item-id="1126")
                                                        button(class="update" data-request-update="'opt_item' : '.standart_form'")
                                                    div(class="item-price" data-item-id="1126")
                                                        span.title_mobile Сумма по товару
                                                        span 0
                                                .row-item
                                                    .item-price
                                                        span.title_mobile Цена за единицу
                                                        span S
                                                        span(data-item-id="10_1") 1250
                                                        input(type="hidden" name="size_10_1" value="1")
                                                    .quantity
                                                        input(type="number" min="0" max="7" value="0" name="quantity_1126" data-validate="quantity" data-item-id="1126")
                                                        button(class="update" data-request-update="'opt_item' : '.standart_form'")
                                                    div(class="item-price" data-item-id="1126")
                                                        span.title_mobile Сумма по товару
                                                        span 0
                                                .row-item
                                                    .item-price
                                                        span.title_mobile Цена за единицу
                                                        span S
                                                        span(data-item-id="10_1") 1250
                                                        input(type="hidden" name="size_10_1" value="1")
                                                    .quantity
                                                        input(type="number" min="0" max="7" value="0" name="quantity_1126" data-validate="quantity" data-item-id="1126")
                                                        button(class="update" data-request-update="'opt_item' : '.standart_form'")
                                                    div(class="item-price" data-item-id="1126")
                                                        span.title_mobile Сумма по товару
                                                        span 0


                                        .row
                                            .article Паула
                                            .color
                                                .img-holder
                                                    img(src="img/content/product1.jpg" alt="Malina шапка Паула")
                                                span Светло бежевый
                                                input(type="hidden" name="color_1113" value="14")
                                                input(type="hidden" name="1113" value="1113")
                                                input(type="hidden" name="brand_1113" value="5")

                                            .parameter
                                                .row-item
                                                    .item-price( data-item-id="1113")
                                                        span.title_mobile Цена за единицу
                                                        span 1350
                                                    .quantity.disabled
                                                        input(type="number" min="0" value="0" max="0" name="quantity_1113_" data-validate="quantity" disabled="" data-item-id="1113_")

                                                    .item-summ
                                                        span.title_mobile Сумма по товару
                                                        span(data-item-id="1113_") 0


                            .total_price.cf
                                .name Итого:
                                .price 30 000 руб.
                                a.submit(href="#") Добавить в корзину


                .related_products

                    h3 Также рекомендуем

                    .wrap
                        .products.cf
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                        label.new
                                            img(src="img/icons/new.png" title="New", alt="New")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price

                                a.asking_price(href="registration.html") узнать цену
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                        label.sale
                                            img(src="img/icons/sale.png" title="sale", alt="sale")
                                        label.sell-out распродажа
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                        label.sale-procent
                                            img(src="img/icons/sale-procent.png" title="sale", alt="sale")
                                            span -15%
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.
                        

            
            
            
                .history_products

                    h3 История просмотров

                    .wrap
                        .products.cf
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                        label.new
                                            img(src="img/icons/new.png" title="New", alt="New")
                                        
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price

                                a.asking_price(href="registration.html") узнать цену
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                        label.sale
                                            img(src="img/icons/sale.png" title="sale", alt="sale")
                                        label.sell-out распродажа
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                        label.sale-procent
                                            img(src="img/icons/sale-procent.png" title="sale", alt="sale")
                                            span -15%
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.
            
            
            
            
            
            
            
            
            
            
            
            
            include ./footer.jade



