doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.productfull
            include ./header.jade


            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная
                            li
                                a(href="catalog.html") Категория товаров
                            li
                                a(href="list_product.html") Головные уборы
                            li
                                span Повязка Chelsi

                    .product_info
                        .image.cf
                            .slider_filter_color
                                #slider_product1
                                    div
                                        img(src="img/content/product1.jpg", data-zoom-image="img/content/imgfull_product1.jpg", class="product-zoom0", alt="Повязка Chelsi" )

                                    div
                                        img(src="img/content/product2.jpg", data-zoom-image="img/content/imgfull_product2.jpg",class="product-zoom1", alt="Повязка Chelsi"  )

                                    div
                                        img(src="img/content/product3.jpg", data-zoom-image="img/content/imgfull_product3.jpg", class="product-zoom2" , alt="Повязка Chelsi" )


                                #bx-pager1
                                        a(data-slide-index='0', href='img/content/product1.jpg', data-class="product-zoom0")
                                            img(src="img/content/product1.jpg" , alt="Повязка Chelsi")

                                        a(data-slide-index='1', href='img/content/product2.jpg', data-class="product-zoom1" )
                                            img(src="img/content/product2.jpg" , alt="Повязка Chelsi")

                                        a(data-slide-index='2', href='img/content/product3.jpg', data-class="product-zoom2")
                                            img(src="img/content/product3.jpg" , alt="Повязка Chelsi")




                        .block_info
                            form#product_add_cart(action="#")
                                .code_product Артикул: CHELSI 5017
                                .name_product Повязка CHELSI
                                .name_price Чтобы узнать розничную цену свяжитесь с нашим менеджером
                                .block_price.width50
                                    preice 1199 руб.

                                .quantity
                                    input(type="number", min="0", value="1", name="quantity", data-validate="quantity" autofocus)
                                .submit.btn.width50 В КОРЗИНУ

                                .block_characteristics
                                    div.width50
                                        .name Бренд:
                                        .value Lak miss
                                    div.width50
                                        .name Цвет:
                                        .value Белый

                                    div.width50
                                        .name Тип:
                                        .value Шапка зимняя



                                    div.width50
                                        .name Cостав:
                                        .value Хлопок 90%




                                    .description_product
                                        span Описание товара:
                                        | Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.

                                    div
                                        .name Размер:

                                        select(name="size" data-validate="select")
                                            option(value="42-44" ) 42-44
                                            option(value="46-48") 46-48
                                            option(value="50-52") 50-52




                        .wholesale_order
                            h3 Оптовый заказ
                            div.table_order
                                .row
                                    div.article Артикул
                                    div.color Цвет
                                    div.size Размер
                                    div.availability Наличие на складе/шт.
                                    div.quantity Количество
                                    div Корзина
                                form.row(action="#")
                                    div.article 17.458.18К
                                    div.color
                                        .img-holder
                                            img(src="img/content/product1.jpg" , alt="Повязка Chelsi")
                                        span Серый
                                    div.size
                                        select(name="size" data-validate="select")
                                            option(value="42-44" ) 42-44
                                            option(value="46-48") 46-48
                                            option(value="50-52") 50-52
                                    div.availability В наличии: 158
                                    div.quantity
                                        input(type="number", min="0", value="0", name="quantity", data-validate="quantity" autofocus)
                                    .btn.submit Добавить

                                form.row(action="#")
                                    div.article 17.458.19К
                                    div.color
                                        .img-holder
                                            img(src="img/content/product2.jpg", alt="Повязка Chelsi" )
                                        span Светло-серый
                                    div.size
                                        select(name="size" data-validate="select")
                                            option(value="42-44" ) 42-44
                                            option(value="46-48") 46-48
                                            option(value="50-52") 50-52
                                    div.availability.little Мало: 36
                                    div.quantity
                                        input(type="number", min="0", value="0", name="quantity", data-validate="quantity" autofocus)
                                    .btn.submit Добавить
                                form.row(action="#")
                                    div.article 17.458.20К
                                    div.color
                                        .img-holder
                                            img(src="img/content/product3.jpg", alt="Повязка Chelsi" )
                                        span Синий
                                    div.size.disabled
                                        select(name="size" data-validate="select" disabled)
                                            option(value="42-44" ) 42-44
                                            option(value="46-48") 46-48
                                            option(value="50-52") 50-52

                                    div.availability.disabled Нет в наличии: 0
                                    //div.quantity.disabled
                                        //input(type="number", min="0", value="0", name="quantity", data-validate="quantity" autofocus disabled)
                                    .btn.submit.disabled.open_modal(href="#report_available") Сообщить о наличии

                        .wholesale_order.mobile
                            h3 Оптовый заказ

                            form.row(action="#")
                                .img-holder
                                    img(src="img/content/product1.jpg", alt="Повязка Chelsi" )

                                div
                                    .article Артикул: 17.458.18К
                                    .color Цвет: Серый
                                    .availability В наличии: 158
                                    div Размер:
                                    div.size
                                        select(name="size" data-validate="select")
                                            option(value="42-44" ) 42-44
                                            option(value="46-48") 46-48
                                            option(value="50-52") 50-52
                                    .button
                                        div.quantity
                                            input(type="number", min="0", value="0", name="quantity", data-validate="quantity" autofocus)
                                        .btn.submit Добавить
                            form.row(action="#")
                                .img-holder
                                    img(src="img/content/product2.jpg", alt="Повязка Chelsi" )

                                div
                                    .article Артикул: 17.458.19К
                                    .color Цвет: Светло-серый
                                    .availability Мало: 36
                                    div Размер:
                                    div.size
                                        select(name="size" data-validate="select")
                                            option(value="42-44" ) 42-44
                                            option(value="46-48") 46-48
                                            option(value="50-52") 50-52
                                    .button
                                        div.quantity
                                            input(type="number", min="0", value="0", name="quantity", data-validate="quantity" autofocus)
                                        .btn.submit Добавить


                            form.row(action="#")
                                .img-holder
                                    img(src="img/content/product3.jpg", alt="Повязка Chelsi" )

                                div
                                    .article Артикул: 17.458.20К
                                    .color Цвет: Синий
                                    .availability Нет в наличии: 0
                                    div Размер:
                                    div.size.disabled
                                        select(name="size" data-validate="select")
                                            option(value="42-44" ) 42-44
                                            option(value="46-48") 46-48
                                            option(value="50-52") 50-52
                                    .button
                                        //div.quantity.disabled
                                            input(type="number", min="0", value="0", name="quantity", data-validate="quantity" autofocus disabled)
                                        .btn.submit.disabled.open_modal(href="#report_available") Сообщить о наличии








                .related_products
                    h3 Также рекомендуем

                    .wrap
                        .products.cf
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price

                                a.asking_price(href="registration.html") узнать цену
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.


                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.
                            .block_product
                                a(href="product.html")
                                    .img_holder
                                        img(src="img/content/product.jpg" title="Винтаж Плюс L14", alt="Винтаж Плюс L14")
                                    .block_text
                                        .name(title="Винтаж Плюс L14") Винтаж Плюс L14
                                        .description_product Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum
                                        .block_price
                                            .cart
                                            price.price 550
                                                span руб.


            include ./footer.jade



