doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.registration
            include ./header.jade


            .container.cf
                .wrap

                    h1 Регистрация оптового клиента
                    form#registration
                        .desc Для регистрации заполните, пожалуйста, слудующие поля:
                        .block_registration
                            .row
                                div
                                    span Название компании*
                                    input(type="text" name="company" data-validate="name")
                                div
                                    span Ваше имя*
                                    input(type="text" name="name" data-validate="name")
                                div
                                    span Фамилия*
                                    input(type="text" name="surname" data-validate="name")
                                div
                                    span ИНН*
                                    input(type="text" name="inn" data-validate="number")
                                div
                                    span Контактный телефон*
                                    input(type="text" name="phone" data-validate="phone")


                            .row
                                div.short.margin20
                                    span Дата рождения*
                                    input(type="text" name="data" data-validate="data")
                                div.short.data_desc
                                    span В формате ДД-ММ-ГГГГ
                                div.short.margin20
                                    span Город / Населенный пункт*
                                    input(type="text" name="city" data-validate="name")
                                div.short
                                    span Индекс*
                                    input(type="text" name="index" data-validate="number")
                                div
                                    span Пароль*
                                    input(type="text" name="password" data-validate="password")

                                div
                                    span Повторить пароль*
                                    input(type="text" name="repeat_password" data-validate="password")

                                p *Все поля обязательны к заполнению
                                .btn.submit зарегистрироваться

            include ./footer.jade


