doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.registration
            include ./header.jade


            .container.cf
                .wrap

                    h1 Регистрация оптового клиента
                    form#registration(action="#")
                        .desc Для регистрации заполните, пожалуйста, слудующие поля:
                        .block_registration
                            .row
                                //div
                                    span Название компании*
                                    input(type="text" name="company" data-validate="name")
                                div
                                    span Ваше имя и отчество*
                                    input(type="text" name="name" data-validate="name")
                                div
                                    span Фамилия*
                                    input(type="text" name="surname" data-validate="name")
                                //div
                                    span ИНН*
                                    input(type="text" name="inn" data-validate="number")
                                div.select_country
                                    span Страна*
                                    select(name="county")
                                        option(value="ru" selected) Россия
                                        option(value="ua" ) Украина
                                        option(value="by" ) Беларусь
                                        option(value="kz" ) Казахстан
                                div.phone_resistered
                                    span Контактный телефон*
                                    input(type="text" name="phone" data-validate="phone" class="phone_ru")
                                    input(type="text" name="phone" data-validate="phone" class="phone_ua")
                                    input(type="text" name="phone" data-validate="phone" class="phone_by")
                                    .help_text Просим Вас вводить действующий номер телефона, потому что после регистрации с Вами свяжется наш менеджер и только после звонка Вам будут доступны наши цены.


                                div
                                    span E-mail
                                    input(type="text" name="email" data-validate="email")
                            .row

                                div
                                    span Город / Населенный пункт*
                                    input(type="text" name="city" data-validate="name")

                                div
                                    span Пароль*
                                    input(type="password" name="password" data-validate="password")

                                div
                                    span Повторить пароль*
                                    input(type="password" name="repeat_password" data-validate="password")

                                p *Все поля обязательны к заполнению
                                .btn.submit зарегистрироваться

                    .login-social Войдите через соц. сети:
                        a(href="#" target="_blank" class="vk-login")
                            i(class="fa fa-vk")
                            span ВКонтакте
                        a(href="#" target="_blank" class="vk-facebook")
                            i(class="fa fa-facebook")
                            span Facebook
            include ./footer.jade


