doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.search
            include ./header.jade

            .container
                .wrap
                    .bread
                        ul
                            li
                                a(href="index.html") Главная

                            li
                                span Поиск
                    h1 Поиск
                    gcse:search




            #overlay
            include ./footer.jade



