doctype html
html(lang="ru")
    include ./head.jade


    body(data-spy="scroll", data-target="#menu", data-offset="105")
        .page_wrapper.home
            include ./header.jade

            .container
                .wrap

                    gcse:search




            #overlay
            include ./footer.jade



