doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper.update_password
            include ./header.jade


            .container
                .wrap
                    h1 Восстановить пароль
                    form#update_password1.cf(action="#")


                        div
                            input(type="text" name="email" data-validate="email" placeholder="*Email:")

                        .btn.submit отправить
                    form#update_password2.cf(action="#")

                        div
                            input(type="text" name="pass" data-validate="password" placeholder="*Новый пароль:")
                        div
                            input(type="text" name="repeat_pass" data-validate="password" placeholder="*Повторить пароль:")

                        .btn.submit отправить







            include ./footer.jade



